[2016-11-21 15:59] patrick-steele-idem commented on #436
I like this suggestion and here are some thoughts:

-----

I think it should be `<@foo>...</@foo>` (with the `@` repeated in the ending tag)

-----

Attributes should be allowed on `<@>` tags:

[code]

-----

`<@bar>` should be shorthand for `<foo:bar>`. The only challenge is that the `<@bar>` would just need to be matched with the first ancestor custom tag:

The following are equivalent:

__Old:_

[2016-11-21 16:08] patrick-steele-idem commented on #439
@Hesulan these are great points, but I think we should focus on the `Promise` specification as defined as part of EcmaScript and implemented by Node.js and browsers (and polyfills). I would welcome as many tests as possible to make sure the Marko implementation holds up to all edge cases for the native `Promise` implementation, a popular `Promise` polyfill and maybe `q` and `bluebird`. For example

[2016-11-21 16:08] patrick-steele-idem commented on #441
I agree. Are we not doing this already?

[2016-11-21 16:15] patrick-steele-idem commented on #437
I agree. The default implementation should show inline error messages for `<await>` tags that fail in development. If the user provided an `<await-error>` then that should always be used.

On a somewhat related note, we probably want to start making use of `process..env.NODE_ENV` to show more friendly error messages in development mode without bloating runtime code for production. We should then u

[2016-11-21 16:59] Hesulan commented on #439
I suppose most of those technicalities likely won't ever affect anything, so as long as the test cases are fairly thorough we should be fine. Though I do still suggest relying on the second argument to `.then`, as it's explicitly defined and used by every implementation that's even remotely compliant, while `.catch` is completely optional for third-party libraries.

[2016-11-21 17:09] Hesulan commented on #442
What if we were to simply rename `.then`? The only real problem here is that we're passing an object (the stream) with a `.then` method to the `.then()` callback, which explicitly violates the specification. But if it were named something else, like `.promisify()`, `.and()`, or literally anything other than `.then()` or `.catch()`, then my example from "Edit 2" in the original post would work perf

[2016-11-21 18:50] Hesulan commented on #430
I think what was really bothering me is that none of the documentation - at least that I can find - describes which features and ES versions are required by the various pieces of Marko, other than a side-note somewhere about the compiler using ES6 classes and a vague statement about the renderer being "supported in all web browsers" in the FAQ.

For example, a list like the following could be adde

[2016-11-21 19:54] mlrawlings commented on #404
I'll get to this at some point, but if someone wants to beat me to it, here's a starting point:
https://runkit.com/mlrawlings/573b709ca492941100e1140e

[2016-11-22 00:29] scttdavs commented on #313
This sounds great! We would be able to use this right away. We're basically doing this manually in a renderer.js file ourselves now, but this is much cleaner and doesn't require us to expose all the `out.beginAsync` stuff to create our own stream.

Are there any strong feelings in making this a separate tag? Would it make sense to just have `<await>` accept a stream in addition to promises and cal

[2016-11-22 00:51] mlrawlings commented on #313
@scttdavs The main difference, is in passing a stream to `<await>` you would need to buffer the stream until it completes, where as `<on>`'s body would be called every time a `data` event was emitted from the stream and could flush out multiple times.

I actually just [threw something together](https://github.com/mlrawlings/marko-on-tag) this afternoon because a team at eBay was asking about this.

[2016-11-22 01:35] patrick-steele-idem commented on #394
Work completed. Closing issue. Thanks @charlieduong94 !

[2016-11-22 01:35] #394 closed

[2016-11-22 13:57] Hesulan commented on #442
Fixed in #443. Thanks!

[2016-11-22 13:57] #442 closed

[2016-11-22 17:04] #389 closed

[2016-11-22 17:04] #401 closed

[2016-11-23 10:49] bitinn commented on #99
@patrick-steele-idem Do you happen to know if we can disable cache (aka the generated .js files) when using `consolidate.js`?

I am interested in this because I use marko as a template language for static site generator `metalsmith`, but because marko is smart enough to generate js files, it prevents us from using a watcher to reload template just by running the build process again on template cha

[2016-11-23 14:12] patrick-steele-idem commented on #99
@bitinn I've not used `metalsmith`, but loaded `.marko` templates are loaded and cached by the Node.js module loading system the same as normal `.js` modules. That is, they are cached in `require.cache` and deleting from `require.cache` will cause the template to be reloaded on the next `require()` of the template. `metalsmith-watch` supports a `invalidateCache` that might work.

`marko` also supp

[2016-11-23 14:31] #439 closed

[2016-11-23 15:11] bitinn commented on #99
@patrick-steele-idem Thx I did enable `invalidateCache`, it doesn't appear to find the right js `require.cache` to delete though. I need to figure out [why](https://github.com/FWeinb/metalsmith-watch/issues/36)...

[2016-11-23 16:30] Hesulan opened #446 "Proper ending newlines (as required by POSIX) break the test suite"
### Description
The autotests work correctly when the `expected.*` file is created and saved on Windows. However, Linux and OS X comply with POSIX, which requires a proper ending newline (`\n` immediately followed by the `EOF` symbol). The produced `actual.*` file doesn't have one, which causes the autotests to fail.

### Possible Fix
The autotest runner could simply ignore the presence or absence

[2016-11-23 16:47] patrick-steele-idem commented on #446
Thank you for bringing this up. I think it makes sense to normalize the HTML string before doing the comparison to avoid issues related to having/not-having a new line character at the end:

[code]

Or, possibly a little more conservative:

[code]

Thoughts?

[2016-11-23 17:13] Hesulan commented on #446
I agree, and I feel like `/(\r\n|\n)$/` (or `/\r?\n$/`) would probably be safer. The only thing to keep in mind would be if something depends on there being a newline, but that could simply add two newlines (`\n\n`) and only the second one would be removed.

[2016-11-23 17:20] patrick-steele-idem commented on #446
Agreed. Would you be interested in making this change to normalize the string before comparison?

[2016-11-23 22:59] scttdavs commented on #404
@mlrawlings could you explain more the expected behavior/output of `import { foo as <foo> } from './foo'`? I believe I have the other scenarios working so far, this one is remaining however.

[2016-11-23 23:14] patrick-steele-idem commented on #404
Given the following:

[code]

The output should be similar to the following:

[code]

[2016-11-23 23:59] scttdavs commented on #404
In the current parser `import { foo as <foo> } from './foo'` would output with a field `isTag: true`. What does it mean to import as tag?

[2016-11-24 00:06] patrick-steele-idem commented on #404
I'm guessing that was related to some experimental idea of importing a tag, but is no longer applicable. Please confirm @mlrawlings.

[2016-11-24 00:10] mlrawlings commented on #404
Yes.  That was experimental.  The work done on `<include>` means we don't really need that anymore.

/cc @scttdavs

[2016-11-24 07:57] mlrawlings commented on #404
To clarify, `importToAssignments` should be used, not `importToAssignmentsWithTags`

[2016-11-24 12:37] scttdavs commented on #404
;) yeah I saw that. I have it all working. Will try to polish it up and
open a PR sometime this weekend hopefully.
On Thu, Nov 24, 2016 at 2:57 AM Michael Rawlings <notifications@github.com>
wrote:

[2016-11-24 13:44] Hesulan commented on #313
If there's enough interest, it would be fairly simple for `<await>` to also accept streams - though as Michael pointed out, it would need to buffer the stream until it was finished, so I'm not sure how useful that would be.

Alternatively, most streams can simply be converted to Promises with something like
[code]

Hopefully this weekend I'll get the chance to play with the `<on>` tag a bit, looks

[2016-11-24 14:08] patrick-steele-idem commented on #313
I think there's enough differences between handling a `Promise` vs a `ReadableStream`/`EventEmitter` that it makes sense to keep the tags separate and I think it will make things less confusing and easier to document. I could be wrong though and I might be convinced that `<await>` could be extended to support both a Promise that gets flushed once when resolved versus a `ReadableStream`/`EventEmitt

[2016-11-24 14:20] Hesulan commented on #313
@patrick-steele-idem If `<await>` was to handle multiple-flush streams / event emitters (which I don't believe it should), I would prefer something similar to "deferred.progress()"; perhaps a separate await-specific nested tag, like `<await-on-data>`.

Though here's another thought that just popped to mind: What about something like that for the `<on>` tag? For example...
[code]
...as an alternate

[2016-11-24 14:48] Hesulan commented on #313
On second thought, something like this might be better instead:
[code]
('from' and 'of' are just what came off the top of my head, it may need re-wording)

[2016-11-27 23:09] scttdavs commented on #313
I kind of like that implementation too. One concern I would have is that there's no clear way to use `<on-finish>` from Michael's example (or any of the other sub-tags).

I think `<on-finish>`, in particular, is important because given his example linked above, the one of a `load more` button below the users. What if it is not known whether there are more users to load until data from the stream c

[2016-11-28 01:11] Hesulan commented on #313
(Just noticed the original post had an example of using a generic EventEmitter which accomplishes basically the same thing as my previous post, not sure how I missed that a few days ago.)

Hmm... Rather than starting with standard streams and adding different syntaxes to support non-standard use cases, what if we looked at this the other way around? We could start by exposing the generic behavior:

[2016-11-28 14:33] #430 closed

[2016-11-28 16:49] scttdavs commented on #397
I agree with wrapping everything in a `<render>` not being so great. Would that be required, or optional, only if you need code generated out of the context of the render function?

If the goal is to deprecate `<script marko-init>` with the already established expectation of a `<script>` tag, why not add a new tag called `<init>`, or something else?

[code]
or
[code]

[2016-11-28 17:51] tinovyatkin opened #449 "enable() is not a function"
## Bug Report

### Context
Changing libraries `require` order while `MARKO_HOT_RELOAD` env is set, resulting in compilation error.

This way compiles fine always:
[code]

Following code results in error if `MARKO_HOT_RELOAD` is present:
[code]

result:

[code]
Removing `MARKO_HOT_RELOAD` or changing loading order fixes the problem.

<details><summary>Additional Info</summary>

### Your Environment

[2016-11-28 20:28] philidem commented on #424
**Here's my proposal:**

- When parsing _attribute value_, encountering whitespace followed by a character that is not a binary operator character (except for `-` in concise mode and `>` in HTML mode) will keep the parser in the _attribute value_ mode.
- When parsing _attribute value_ in _concise mode_, encountering `-` will switch to single line HTML mode (this is the current behavior)
- When par

[2016-11-29 18:20] Hesulan commented on #424
When in *concise mode*, could a `;` (semicolon) simply end the current tag like `>` does in *HTML mode*?

For example:
[code]
Would be shorthand for:
[code]
or
[code]

[2016-11-29 21:14] mlrawlings opened #451 "Question: Remove support for `render(data, out, callback)` in v4?"
We currently support the ability to pass both an `out` and a `callback`, however it's not [documented](http://markojs.com/docs/marko/javascript-api/#methods-1) and I'm not convinced it's necessary.

I'm adding a deprecation notice in v3 via #450 with a link to this issue, so hopefully we can get some feedback on whether this is something developers are using and actually need.

/cc @philidem

[2016-11-29 21:22] mlrawlings commented on #451
We _are_ using this [in our tests](https://github.com/marko-js/marko/blob/41b115909066619032ae8d3e80c49432083b13c8/test/util/runRenderTest.js#L143), but it would be a simple change to go from this to `out.on('finish')`/`out.on('error')`.

[2016-11-30 00:31] patrick-steele-idem opened #452 "Deprecate the layout taglib"
**Old:**

`./layouts/main/template.marko`:

[code]

`page.marko`:

[code]

**New:**

`./layouts/main/template.marko`:

[code]

`page.marko`:

[code]

[2016-11-30 00:34] #404 closed

[2016-11-30 00:34] #436 closed

[2016-11-30 13:41] #449 closed

[2016-12-01 00:06] mlrawlings opened #453 "Recursive components"
In v3 there is an issue:

### `<foo/>`

_`index.js`:_
[code]

_`template.marko`:_
[code]

The `<foo/>` `index.js` references `template.marko` before it exports anything and `template.marko` references `index.js`, which ends up with the template getting an empty object instead of the renderer.

Hanging methods off the existing `exports` in `index.js` will fix this:
[code]

I'm pretty certain that v

[2016-12-01 03:46] #452 closed

[2016-12-01 03:49] patrick-steele-idem commented on #313
I'll throw out another proposal:

[code]

[2016-12-01 04:33] patrick-steele-idem commented on #395
I'll take this one since it ties into supporting binding a single widget to multiple top-level elements (https://github.com/marko-js/marko/issues/393)

[2016-12-01 06:40] Hesulan commented on #397
For the purpose of hoisting `require()` calls out of the `render` function, the new `<import>` tag *should* handle that (see: ECMAScript's top level requirement for `import` statements). I know that's not the only use for `<script marko-init>`, but thought I should throw that out there.

Regarding `<render>` and `<init>`, why not both? `<init>` could simply be a drop-in replacement for `<script ma

[2016-12-01 14:01] patrick-steele-idem opened #455 "Simplify compiled code for UI components"
For UI components, Marko should simply wrap the template render function to handle UI component rendering logic and widget def creation. This allows the logic for `widget-tag.js` to be merged into `defineRenderer.js` to consolidate widget rendering logic and to simplify code and improve performance. As part of this change, we can pass extra widget info (such as ref and custom events) directly to t

[2016-12-01 22:52] RajaRamu commented on #313
@patrick-steele-idem - this sounds good to me. Looks lot cleaner!

[2016-12-01 23:48] patrick-steele-idem commented on #313
@mlrawlings @philidem @tindli @austinkelleher @Hesulan should we go forward with using `<await>` with nested `<on()>` tags (see above)?

[2016-12-02 00:15] RajaRamu commented on #313
@patrick-steele-idem @mlrawlings - will <awaits> accept event emitter going forward. right now, its not supporting event emitter. i think its essential to support that with respect to streaming

[2016-12-02 00:30] Hesulan commented on #313
I can't think of any reason not to. Just one question: If the object has both `.on()` and `.then()` methods, should it be treated as an emitter or a thenable? (I'm leaning toward emitter, but that *might* be considered a breaking change...)

Also, a few more ideas:
* `<await(data.userStream until 'finished' or 'cancelled')>`
* `<on(user)>` (defaults to 'data' event)
* `<once(...)>`

[2016-12-02 01:20] austinkelleher commented on #313
@patrick-steele-idem - I like that syntax a lot.

[2016-12-02 15:29] Hesulan commented on #377
It seems to me that some of those tags might be simpler than others. Like you said, `<init-widgets/>` may not recognize widgets within an `<await>` tag (though I have a couple thoughts on how it might). Others, like `<browser-refresh/>`, could simply attach themselves to the compiler (or perhaps even the renderer) and append/prepend themselves unconditionally. Ordering and precedence shouldn't aff

[2016-12-02 15:48] Hesulan commented on #365
@patrick-steele-idem I think I'm in favor of making `false` the default. The compiled output is extremely useful for the things you mentioned and many others, but 98% of the time it just wastes disk I/O (which is a very bad thing if you develop on cloud storage or flash drives - which I do).

On the other hand, it's extremely easy to *en*-able `writeToDisk` when you need to debug something (not as

[2016-12-02 15:48] #393 closed

[2016-12-02 15:48] #395 closed

[2016-12-02 15:48] #399 closed

[2016-12-02 19:08] patrick-steele-idem opened #456 "Add support for root <style> in single-file component"
Given:

_src/components/my-component/index.marko:_

[code]

The `<style>` code should be pulled out into `src/components/my-component/index.marko.less` at compile-time. The `lang` attribute should be used to determine the file extension and the default `lang` should be `css`.

The generated file should then be imported in the compiled template so that it will automatically be picked up by the bund

[2016-12-02 19:12] patrick-steele-idem commented on #425
TODO: Output warning in old parser used by Marko v3. Something similar to:

[code]

[2016-12-02 19:24] mlrawlings commented on #397
@Hesulan The `<import>` tag does hoist outside the `render` function, see the [import-tag test](https://github.com/marko-js/marko/tree/master/test/autotests/compiler/import-tag) and its [expected output](https://github.com/marko-js/marko/blob/master/test/autotests/compiler/import-tag/expected.js).

Importing modules is a big reason `<script marko-init>` was needed (just look at every example in th

[2016-12-03 16:00] scttdavs commented on #313
@patrick-steele-idem I like the new proposal, especially reusing with `<await>` since the use cases seem so similar. So given that example and the new nested tag feature (which is done now?), would it look like:
[code]
I also had a question in the comment above^

[2016-12-05 17:07] tinovyatkin commented on #456
`include` or new `import` syntax within this `<style>` will be very good addition too! As well as an API for tag renderer to append anything to this, like `out.styles.append('.test-rule { color: red }')`

[2016-12-05 22:08] mlrawlings commented on #451
Closed via https://github.com/marko-js/marko/commit/9cbddcab1359c82e1abd975b58eda37e7de34416

[2016-12-05 22:08] #451 closed

[2016-12-05 23:30] mlrawlings commented on #313
There's the potential argument against `<@on>` because it would need to be transformed:

`<@on('data' as user)>` would get transformed to `<@on(user) event='data'>` which would generate code like:
[code]

@scttdavs The rules around content outside `@` tags is a little weird...  Anything outside an `@` tag will come through as `input.renderBody`, except if there are dynamic `@` tags in which case `

[2016-12-06 00:16] patrick-steele-idem opened #457 "Make jquery proxy for widgets separate and optional"
**Old:**

[code]

**New:**

With `marko` v4, `this.$` will be `undefined` unless `require('marko/jquery').enable(window.$);` is called:

[code]

----

Internally, `require('marko/jquery').enable()` will be implemented similar to the following:

[code]

NOTE: We should deprecate `this.$` in v3 and make `require('marko/jquery').enable()` work in v3. If `this.$` is used without calling `require('mark

[2016-12-06 20:57] lauritzsh opened #459 "TypeError: Path must be a string. Received undefined"
## Bug Report

### Context
I can't get `components` or custom tags working with a very simple setup. My setup is currently just `koa@next`, `koa-router@next` and `marko@3.13.0`. I have had the exact same problem with `express` so it should have nothing to do with `koa` or `express` but rather `marko`.

### Expected Behavior
Having my view display the component I am trying to render.

### Actual Be

[2016-12-07 02:11] #392 closed

[2016-12-07 14:51] khmelevskii opened #460 "Marko not work with pm2"
[code]

i have error: `Error: Cannot find module 'marko'`

[2016-12-07 19:37] mlrawlings opened #461 "require('marko/widgets') should only appear in the compiled output once"
See [test/autotests/widgets-compilation/component-inline/expected.js](https://github.com/marko-js/marko/blob/73ef10c2f3b9bbcc3349b2bcca4259a35e6f4ee1/test/autotests/widgets-compilation/component-inline/expected.js#L11-L15) for bad expectation.

[2016-12-07 19:42] mlrawlings opened #462 "<widget-types> should not output"
See [test/autotests/widgets-compilation/widget-types/expected.js](https://github.com/marko-js/marko/blob/73ef10c2f3b9bbcc3349b2bcca4259a35e6f4ee1/test/autotests/widgets-compilation/widget-types/expected.js#L21) for bad expectation.

[2016-12-07 20:09] #406 closed

[2016-12-07 23:30] #461 closed

[2016-12-08 07:54] #456 closed

[2016-12-09 00:57] mlrawlings opened #463 "emit attribute"
[code]

would be equivalent to:

[code]

[2016-12-09 06:04] tinovyatkin opened #464 "Destucting <import> compiles wrong in 4.0-beta.3 when import name is the same as module name"
Hello,

Destructing `import` like following compiles correctly:

[code]
results to following:
[code]

However, destructing imports, like
[code]

results in wrong compilation:
[code]

Side note: which version of Node Marko 4 is targeting? Why not current LTS (Node 6) and just keep destruction intact, as well as use `const` instead of `var`?

[2016-12-09 16:08] Hesulan commented on #464
@tinovyatkin The compiler currently requires ES6 (Node 4+), but all built-in taglibs are currently designed to compile into ES5-compatible code (ES6+ tags *may* eventually be included if there's enough interest - see #428).

The `asset2` assignment is definitely an oversight, it's *supposed* to prevent automated naming collisions but in this case appears to be renaming the wrong one.

[2016-12-09 16:24] Hesulan commented on #460
@khmelevskii Works for me. Are you still having this problem? If so, could you give more details?

[2016-12-09 17:15] Hesulan commented on #459
I'm not sure why, and I would definitely consider this a bug, but it seems some module along the chain (probably somewhere around `deresolve` or `lasso-package-root`) can't handle a malformed `package.json`. The one at the top of your gist gave me the same error, but running `npm init` fixed it.

[2016-12-09 18:09] tinovyatkin commented on #464
As far I see <import> compiles into require and it's no way browser compatible with our without destruction...

[2016-12-09 18:24] Hesulan commented on #464
Most modern client-side code depends on a third-party library like `browserify` to implement CommonJS `require`, and Marko is no exception. In other words, `require()` most certainly *is* browser-compatible.

[2016-12-10 03:38] tinovyatkin commented on #464
@Hesulan I'm sorry to say, but there is no logic to say `can be rendered in all modern browsers without needing to be transpiled` and then `require() most certainly is browser-compatible`. No, it's not. There is no browsers on the planet that understand `require` without transpilation / compilation / whatever you want to call it. So, the question still remain - why introduce new tag that have no w

[2016-12-10 12:10] lauritzsh commented on #459
@Hesulan Nicely spotted! I played with `package.json` and adding a `name` field to the `package.json` file fixes this problem. At least I can render the component so I assume that fixes it.

I am also still considering this a bug so I will keep the issue open. At least there is a workaround/temporarily fix for this.

[2016-12-11 01:12] Hesulan commented on #464
@tinovyatkin Marko and Marko Widgets run in the current versions of all major browsers without any transpiling. While `require()` certainly isn't native, it's considered a dependency, or at worst a polyfill. Native destructuring would require the entire file to be transpiled, and there's no reason to do that here since the current ES5 implementation already works perfectly aside from this bug.

Do

[2016-12-12 17:32] scttdavs commented on #464
yeah as already stated, this is marko trying to avoid naming collisions. The import parser could use:
https://github.com/marko-js/marko/blob/master/compiler/util/safeVarName.js
to generate a safe name, but it would still fail for:
[code]
 A quick fix would be to just add a namespace to that function as well, so in the above case it would output:
[code]
The namespace could be anything pretty unique

[2016-12-12 18:04] Hesulan commented on #464
@scttdavs Another option might be to use one of the reserved template variable names ('data' or 'out') to temporarily store each module:
[code]
If someone needs to `<import { data as data } from 'asset' />` then they're probably doing something wrong, since it will get overwritten by `render(data, out)` anyway.

[2016-12-13 17:03] mindeavor commented on #424
I agree with restricting this feature to concise syntax. The HTML-JS syntax is naturally more verbose, and with that verbosity you gain explicitness.

    <assign name=( lastName.toUpperCase() + ', ' + firstName.toLowerCase() ) />

This looks nice and readable to me. I have no desire to remove these parenthesis, just as I have no desire to remove general closing tags :)

[2016-12-13 17:29] tinovyatkin commented on #464
If it's a vote, I certainly hope Marko developers will decide to just keep destruction intact and document that fact. It's a shame that nowadays development frameworks sometimes trying to pretend they are for people who don't know how to code.
You are introducing new tag with `ES6 like imports`, requiring Node 4 for compiler and trying to reinvent the wheel of destruction?

Why not `<import { asse

[2016-12-13 18:33] patrick-steele-idem commented on #464
@tinovyatkin For now, we want Marko templates to compile to ES5-compatible code since compiled templates can either be loaded in the browser or on the server. On the server, the compiler requires Node.js v4+, but the runtime is ES5-compatible and works with IE9+ and all other modern browsers.

As it stands now, `import`/`export` is not finalized and that syntax is not natively supported by Node.js

[2016-12-13 18:34] #455 closed

[2016-12-13 18:52] patrick-steele-idem commented on #462
Fixed.

[2016-12-13 18:52] #462 closed

[2016-12-13 18:58] mlrawlings commented on #464
I _think_ this is as simple appending `_module` or something [here](https://github.com/marko-js/marko/blob/8f4c884fba1d7460690de989d292968c613130cc/taglibs/core/util/parseImport.js#L33).

Along with the change I'd like to see an additional test making sure something like the following produces a sane output:

[code]

[2016-12-13 19:04] Hesulan commented on #464
It just occurred to me that `require()` is expected to cache loaded modules:
[code]
Not very pretty, but perhaps more readable, and definitely more collision-proof. Thoughts?

[2016-12-13 19:12] patrick-steele-idem commented on #464
Other then still being slightly slower to execute, that code wouldn't minify as well so I would still like to see each module only be required once.

[2016-12-13 20:00] Hesulan commented on #464
@patrick-steele-idem Good point. I don't think execution speed would really be a problem since all of this is happening once when the module is first loaded, but minifying would be, especially with lasso since the url becomes a lot longer...

The `_module` suffix solution should work just fine, as long as it's well documented.

[2016-12-14 00:44] yomed opened #465 "html tag expressions are compiled without parentheses"
## Bug Report

### Context
I am trying to use a dynamic expression to set an html tag. The compiled code seems to be slightly incorrect, resulting in mangled html.

My marko looks like (adding parenthesis here doesn't help):
[code]

### Expected Behavior
Compiled output should be
`out.w("<" + (data.type === "primary" ? "div" : "span") + ">");`

### Actual Behavior
Compiled output is:
`out.w("<" +

[2016-12-14 01:24] mlrawlings commented on #465
@yomed if you need a temporary workaround:

[code]
or
[code]

[2016-12-14 01:44] mlrawlings commented on #465
I have confirmed this is still an issue in v4 as well.

[2016-12-14 02:22] mlrawlings commented on #465
Re-opening as the fix needs to be back-ported to v3.

[2016-12-14 02:32] mlrawlings commented on #465
`marko@3.13.1` has been published with this fix.

[2016-12-14 02:32] #465 closed

[2016-12-14 03:01] mlrawlings opened #466 "Remove deprecated methods on AsyncStream"
These [methods](https://github.com/marko-js/marko/blob/300d391680bf20418673ffb869fab62e09eed02c/runtime/html/AsyncStream.js#L510-L529) have been deprecated since v3 was released.  And we don't have tests covering them anymore.  If we do remove them, we should update v3 to actually log a deprecation warning as well.

[2016-12-14 03:11] mlrawlings opened #467 "Make widget.ready() optional and switch to using DOMContentLoaded"
Since we're dropping support for IE < 9, all supported browser now support the DOMContentLoaded event which means we should be able to remove, or at least simplify [runtime/ready.js](https://github.com/marko-js/marko/blob/master/runtime/ready.js).

[2016-12-14 03:30] mlrawlings opened #468 "Improve test coverage"
This is an open-ended issue.

While code-coverage is not a perfect metric, it would be awesome to see our coverage reach 90% on this next release.  We use an autotests format for our tests, which make it really easy to add new tests, just copy a directory and modify it for the new test.  If you're interested in adding some tests and have questions, feel free to ask them here.

### Some high-impact

[2016-12-14 03:32] mlrawlings opened #469 "Tag#inheritFrom"
@patrick-steele-idem What is `Tag#inheritFrom`?  We don't have [coverage](https://coveralls.io/builds/9270231/source?filename=compiler%2Ftaglib-loader%2FTag.js#L46) on it.  Is this something we still need or can it be removed?

[2016-12-14 17:00] yomed commented on #465
@mlrawlings Thanks for the quick fix!

[2016-12-14 20:02] #466 closed

[2016-12-15 01:27] mlrawlings opened #470 "Ensure that `autocomplete` entries in `marko.json` files aren't suggesting deprecated tags/attrs"

[2016-12-15 17:54] mlrawlings commented on #99
Closed via https://github.com/tj/consolidate.js/pull/255. Thanks @fabsrc!

[2016-12-15 17:54] #99 closed

[2016-12-15 21:57] #469 closed

[2016-12-15 22:20] patrick-steele-idem opened #471 "Proposal: Provide support for component input validation (in development mode)"
[code]

For production builds, the `validate-input` tag should have no impact on the compiled template.

We should also consider enabling render-time input validation based `marko-tag.json` for simple validations.

[2016-12-15 23:47] patrick-steele-idem opened #472 "Compiler API: Add compileForBrowser and compileFileForBrowser methods"
`output` should default to `vdom` when compiling for the browser. In addition, no metadata should be included.

[2016-12-16 01:53] mlrawlings commented on #397
Closed via https://github.com/marko-js/marko/commit/2980546f7c3309ec11a268ea0d4a801506c4ab6b

[2016-12-16 01:53] #397 closed

[2016-12-16 02:09] #464 closed

[2016-12-16 17:29] #472 closed

[2016-12-16 17:32] mlrawlings commented on #472
Should I turn metadata on by default for non browsers?

[2016-12-16 17:40] patrick-steele-idem commented on #472
Yes. We'll need to update projects that call the compiler directly (e.g. `templating-benchmarks`) to use the *ForBrowser methods

[2016-12-16 17:48] patrick-steele-idem commented on #457
I'm going to take this one since it also impacts [Issue #467 - Make widget.ready() optional and switch to using DOMContentLoaded](https://github.com/marko-js/marko/issues/467)

[2016-12-16 18:40] #457 closed

[2016-12-16 19:24] sandro-pasquali commented on #365
FWIW the surprise appearance of the compiled template as a `.js` file can disrupt the typical file watching/rebuild patterns in dev environments by firing off a misleading file/directory change event. This is another thing that is easy to fix (set ignore rules), but... Indeed, in dev you probably don't even want compilation caching to happen at all (requiring even more little fixes), and you'll ha

[2016-12-16 19:30] #467 closed

[2016-12-16 20:23] mlrawlings commented on #422
FYI, I've added a new method to do deprecations from the compiler that tracks the node and line:column in the original template code.

[code]

[2016-12-17 22:04] mlrawlings commented on #365
I would agree that it would be nice to remove these files by default if only because it makes things seem simpler.  I will say though, that these compiled output files were extremely helpful in understanding how `marko` works at a lower level - though that's certainly not a requirement in order to _use_ `marko`.

The other concern I have is that runtime errors will reference a line/column in the g

[2016-12-17 22:51] Hesulan commented on #365
@mlrawlings I completely agree that the `*.marko.js` files are essential for debugging, but in my opinion it's already easy enough to generate them when desired with `./node_modules/.bin/markoc ./path/to/template.marko`, or even `require('marko/compiler').defaultOptions.writeToDisk = true;` for those who don't need to worry about unnecessary disk writes.

Writing out on error may be more convenien

[2016-12-18 01:34] mlrawlings commented on #365
@Hesulan Regarding source maps, our parser already has line/column start/end positions for every tag/attribute/etc. so that's definitely a good starting point and I'm thinking with the changes made to the way we generate code in v4, it might not be _too_ difficult to get the code writer to map changes back to the positions of the nodes its writing.  Then we would need some kind of way to track whe

[2016-12-18 02:42] Hesulan commented on #365
@mlrawlings I really like the idea of using an environment variable, especially since the output files are only really used for production and debugging, and anyone worried about production start-up time should probably be compiling during a build step instead.

And I'd love to see the compiler keep better track of where the code came from. That might also help with things like #247.

[2016-12-19 00:05] mlrawlings commented on #424
I just made a PR implementing this and some related parser updates. I'd love some feedback from everyone that has contributed to this discussion. https://github.com/philidem/htmljs-parser/pull/42

[2016-12-19 18:32] mlrawlings opened #474 "Assignment null tag"
**Old:**
[code]
[code]

**New:**
[code]
[code]

We would update the parser so that the new version would come through as `<NULL a=123/>`, and then handle that with a transformer within marko's core taglib.

[2016-12-19 19:49] mlrawlings opened #475 "When taglibs are excluded, log a message to the console."

[2016-12-19 22:41] patrick-steele-idem opened #476 "Add deprecation warning for getRenderedWidgetIds in marko v3"

[2016-12-20 00:35] SebastiaandenBoer commented on #460
I just experienced the same problem. No problems when starting the application with `node app.js`, but with pm2, the HTML does not get rendered anymore. Google Chrome doesn't even render the HTML, but simply displays the raw HTML instead.

If you need, I could provide a more accurate description of what is happening, but please specify what kind of details you would want.

[2016-12-20 13:50] patrick-steele-idem opened #477 "for(key,value in myMap) should work with Map instances"

[2016-12-20 13:53] patrick-steele-idem commented on #460
@SebastiaandenBoer I think your issue is separate. I think you are forgetting to set the `Content-Type` header to ensure that the browser knows how to interpret the response from the server. You should be doing something similar to the following in your page controller:

[code]

[2016-12-20 22:10] philidem opened #478 "Marko v3: TagLookup fails when merging taglibs"
Error happens when merging same taglib that has been installed at multiple locations.

[code]

Fails when these two sections of the taglibs are being merged:

Source:
[code]

Destination:
[code]

The `type` property causes an `Identifier` object to be constructed and the `Identifier` constructor currently expects an argument:

[code]

When the object is being cloned, the constructor is not being p

[2016-12-20 22:19] #478 closed

[2016-12-22 03:24] patrick-steele-idem opened #479 "Provide ability to relax required comma for certain tags such as the <import> tag"

[2016-12-22 03:33] #479 closed

[2016-12-22 03:40] patrick-steele-idem opened #480 "Allow commas between attributes and semicolon at end"
Example:

[code]

[2016-12-22 03:41] patrick-steele-idem commented on #480
Fixed with upgrade to `htmljs-parser@^2`

[2016-12-22 03:41] #480 closed

[2016-12-22 03:41] patrick-steele-idem commented on #403
Fixed with upgrade to `htmljs-parser@^2`

[2016-12-22 03:41] #403 closed

[2016-12-22 05:20] patrick-steele-idem commented on #424
Fixed with upgrade to `htmljs-parser@^2`

[2016-12-22 05:20] #424 closed

[2016-12-22 05:36] patrick-steele-idem opened #481 "Placeholder should be allowed within open tag for custom tags for dynamic attrs"
The following should be allowed:

[code]

NOTE: The following is currently allowed:

[code]

[2016-12-22 05:37] #481 closed

[2016-12-22 23:29] #425 closed

[2016-12-22 23:32] patrick-steele-idem opened #483 "Upgrade Marko v3 to htmljs-parser@^2 and enable "legacyCompatibility" option"

[2016-12-23 14:05] SebastiaandenBoer commented on #460
@patrick-steele-idem Although the `Content-Type` header was not the issue, I can now confirm that my problems were separate from the issue discussed in the original ticket. My apologies for the inconvenience.

[2016-12-28 18:37] feng-i commented on #476
Does this mean getRenderedWidgetIds will deprecate after 4.0? Which function can replace it then? Thanks.

[2016-12-28 18:47] ramses0 opened #486 "Update 'marko-loader' to support marko v4"
Currently:
[code]

[2016-12-28 18:54] ramses0 opened #487 "Add marko-compiler-version to template.marko.js output"
## New Feature

### Description
[code]

### Context

Sometimes it's difficult to determine *which* compiler version output the *.js on disk (ie- command line compiler, marko-loader, etc).  This is a possible enhancement to aid in debugging, perhaps sometimes you need bug reports of "send me template.marko and template.marko.js" and it'd be nice to know *how* template.marko.js was transformed.

Dra

[2016-12-28 18:55] ramses0 commented on #487
(in addition, add `--version | -v` support to `markoc` command)

[2016-12-28 19:07] leonth opened #488 "Interoperability with React"
## New Feature

### Description
There are 2 use cases for this:
1. People who want to primarily use React but want to have some (perhaps presentational-only) components written in marko.
2. People who use primarily marko templates but want to use React (i.e. render React components) in some dynamic pages (this is marko-widget's use case, but let's say that a hype-driven tech lead wants React for d

[2016-12-28 20:08] patrick-steele-idem commented on #488
Just some initial thoughts:

- It's already possible to embed a React component in a Marko component but we can definitely provide things to make this more seamless
- I'm definitely open to ideas on improving operability (in addition to the reasons you mentioned, but also because I would like to make it easier for teams to try or transition to Marko)
- If you use React when rendering on the server

[2016-12-28 20:39] mindeavor commented on #488
I think the best solution long-term would be to have Marko have seamless interoperability with custom elements. That way, react / mithril / any library will be able to work without any extra work from marko.

For research, [server-components](https://github.com/pimterry/server-components) has done some work in this area.

[2016-12-28 20:57] patrick-steele-idem commented on #488
@mindeavor there have been some conversations about providing an adapter to support registering Marko UI components as Web Component custom elements, but we have not done anything further. After the v4 release we should do more exploration to see what is possible and capture it in our ROADMAP. Right now, the Marko v4 release is our top priority and we hope to get that finalized soon :)

[2016-12-29 01:49] #477 closed

[2016-12-29 01:54] patrick-steele-idem commented on #487
I'm not opposed to this, but it is probably sufficient to add some extra metadata to the compiled template as a JavaScript comment such that it would be minified out in production. In addition, for Marko v4 we introduced support for inspectable metadata that gets added templates compiled for the server.

Can you open up a separate Github issue for that enhancement (this makes tracking progress eas

[2016-12-29 03:36] leonth commented on #488
Thanks for the inputs. I believe v4 is just around the corner looking at the beta releases coming out these few days?

This is what I pondered on as well - there is something similar for handlebars: https://github.com/stevenvachon/handlebars-react I don't know much about marko internals but maybe translating parsed AST to React VDOM directly can be a better approach?

CMIIW, but I think if we rend

[2016-12-29 15:23] patrick-steele-idem opened #490 "Docs: Add docs for creating production builds"
Notes:

- Use [minprops](https://github.com/mlrawlings/minprops) to reduce code size
- Use [envify](https://github.com/hughsk/envify) reduce code size

[2016-12-29 17:13] Hesulan commented on #425
@patrick-steele-idem It seems that this currently coerces non-string values, such as `undefined`, `null`, and `{}`, into `<undefined></undefined>`, `<null></null>`, and `<[object Object]></[object Object]>`. Should it throw an error instead?

[2016-12-29 22:36] eikaramba opened #491 "Allow plain text parsing"
## New Feature
Currently there is no easy way to use Marko for plain text parsing.

### Description
Add non-renderable block to tell Marko to thread this block as text-only (still parsing variables and conditionals and such, just not forcing to transform html tags).

### Context
The use case is for email rendering, where you probably want to render a html and text version. For example using [nodem

[2016-12-29 22:51] patrick-steele-idem commented on #491
The easiest way right now to achieve what you want is to register your own custom tag that is configured to have a body of "static-text".

For example, you could register your own `<static-text>` tag:

_src/components/static-text/marko-tag.json:_

[code]

[code]

Does that work for you?

Related: https://github.com/marko-js/marko/issues/343

[2016-12-29 22:52] patrick-steele-idem commented on #491
NOTE: If you want to recognize placeholders (i.e. `${...}`) then you should use `parsed-text` instead of `static-text`

[2016-12-30 01:07] eikaramba commented on #491
Thanks for your quick response. Unfortunately i does not work. As soon as i'm using <static-text> in my template, the output is null (no error in console). I tried to move the components folder to different places, but nothing worked. Also i added a renderer.js or template.json but also... no luck. Maybe it has something to do how consolidate is calling Marko(`.load(options.filename, ContentAsStr,

[2016-12-30 01:08] eikaramba commented on #491
currently my workaround is to use

[code]

and then manually removing both divs from the output string.

[2016-12-30 01:13] patrick-steele-idem commented on #491
Which version of `marko` are you using? I'll add a test case

[2016-12-30 01:16] eikaramba commented on #491
the latest from npm. 3.13.2

[2016-12-30 13:59] patrick-steele-idem commented on #486
This has been resolved.

[2016-12-30 13:59] #486 closed

[2016-12-30 13:59] patrick-steele-idem commented on #483
This has been resolved.

[2016-12-30 13:59] #483 closed

[2016-12-30 18:39] mindeavor commented on #365
The environment variable might have too great an effect. My personal primary use case is inspecting the generated file of only the template I'm working with. The environment variable feature would generate *all* files in the project, wouldn't it?

[2016-12-30 19:16] patrick-steele-idem opened #492 "Deprecate w-body in favor of include"
A UI component can receive external content as shown in the following example:

[code]

The UI component needs to be able to inject the external content into the final DOM as shown below:

[code]

# Old solution: `w-body` and `getInitialBody`

[code]

By default, `w-body` would inject the output of invoking `data.renderBody` function (if available), but that could be changed by implementing the `g

[2016-12-30 20:02] smulder opened #493 "calling .renderSync().appendTo() with a string I appendTo() causes doc to be undefined"
## Bug Report

### Context

in dom.js exports.mixin

target[methodName] = function(referenceEl) is reached with referenceEl as a string

It then goes on to try to get the ownerDocument with referenceEl.ownerDocument which won't work on a string so doc is undefined.

it then goes through var newNode = getNode.call(this, doc); with an undefined doc but still creates the new dom element

then appendT

[2016-12-30 20:41] patrick-steele-idem commented on #492
I'll throw out another option:

## Option: Named slots

[code]

[code]

[2016-12-30 21:59] Hesulan commented on #365
@mindeavor I'm thinking the environment variable would probably just switch `writeToDisk` on, which is currently Marko's default behavior.

If you need to compile only a specific template, you can either execute
[code]
in a shell, or toggle `writeToDisk` on while loading that template for the first time:
[code]

I'm not aware of any hooks or methods in the API to write a specific template to disk,

[2016-12-30 22:14] mindeavor commented on #365
I see. Personally I think it'd be great if you could add something to the code like:

[code]

where `debug` can be `true` or, if need be, an options object like `{ writeToDisk: true }`. I would find that to be really handy :)

[2016-12-30 22:24] patrick-steele-idem commented on #365
That's an interesting thought @mindeavor. It's a little more verbose, but a tag such as one of the following would be easier to implement::

[code]

[2016-12-30 22:27] Hesulan commented on #365
@patrick-steele-idem That's exactly what I was just thinking. Perhaps this would be a good first use case for the `<debug>` tag that was being discussed not too long ago, like `<debug write-to-disk=true />`?

[2016-12-30 22:28] mindeavor commented on #365
Yes, now that you mention it, a tag would be better. That way you can debug whether or not you have a `<script>` tag.

[2017-01-02 12:11] tinovyatkin opened #495 "Is renaming destruction import suppose to work?"
## Bug Report

### Context
Renaming destruction imports are not working in `v4.0-beta.5` :

[code]

results in compilation error, while

[code]

works fine...

[2017-01-02 12:38] austinkelleher commented on #495
I agree that this should be supported.

[2017-01-02 12:57] austinkelleher commented on #495
But you can use 'as' for aliases:

import { client as twilio } from '../../lib/twilio'

[2017-01-02 13:34] tinovyatkin commented on #495
Sorry, my fault, I forgot ES6 syntax while doing refactoring for `<import>` from `require`. Thank you!

[2017-01-03 00:28] patrick-steele-idem commented on #493
This has been resolved.

[2017-01-03 00:28] #493 closed

[2017-01-03 02:06] #441 closed

[2017-01-03 05:25] mindeavor opened #497 "[v4] Strange behavior with input[type=checkbox]"
## Bug Report

Server-side checkbox rendering works perfectly, but client-side has strange behavior when using two-way data binding (see code in details).

### Expected Behavior

Clicking the first checkbox should uncheck it.

### Actual Behavior

Clicking the first checkbox checks the second checkbox. Clicking a few more times results in more strange behavior (sometimes 2 clicks needed to uncheck

[2017-01-03 10:46] albertogasparin opened #498 "v3.14.0 deprecates single hyphen for concise line"
## Bug Report

### Context
Updating from version v3.13.0 to v3.14.0 adds lots of warnings about single hyphen for concise line being deprecated. I think such behaviour should occur on next major release as it requires a lot of code changes. Moreover, there is no clear documentation on how code should be changed as replacing `-` with `--` does not always make the warning disappear.

[code]

<detail

[2017-01-03 14:15] austinkelleher commented on #495
I wrote up a fix to support colon destructuring as it's supported in standard JS destructuring. I actually didn't know that colon destructuring is not supported in `import` destructuring, which I find quite surprising and inconsistent. I rejected my PR. This issue should be closed. cc @patrick-steele-idem

[2017-01-03 16:55] patrick-steele-idem commented on #497
Taking a look now and will update here when I know more. Thanks for reporting the problem and providing the code to reproduce.

[2017-01-03 17:28] #497 closed

[2017-01-03 17:30] patrick-steele-idem commented on #497
It was indeed a bug with the virtual DOM implementation. Marko was not correctly handling different falsey values for a boolean property on a DOM element. I added a failing test using your code and fixed the problem. New version published with fix: `marko@4.0.0-beta.7`

Please let me know if you see any other issues. Thank you!

[2017-01-03 17:47] patrick-steele-idem commented on #498
Hey @albertogasparin, it was necessary to deprecate a single hyphen in v3 because we have to remove support for single hyphens in v4 to support the improvement of allowing spaces in attribute values when the attribute value is a complex expression. If you are not able to get rid of the deprecation warning then that is a bug. I am investigating now and will publish a new version of `htmljs-parser`

[2017-01-03 18:27] #498 closed

[2017-01-03 18:30] patrick-steele-idem commented on #498
Sorry for the bad deprecation warning when using a double hyphen. The problem has been fixed with `htmljs-parser@2.2.2`. I know the deprecation warnings can be a lot of noise, but we didn't see a good way to avoid this change as part of Marko v4. I hope it is not too much of a pain to update your code now, but we do plan on providing a migration tool a little later that would automatically fix the

[2017-01-03 18:31] #422 closed

[2017-01-03 18:42] patrick-steele-idem opened #499 "Update marko-prettyprint to support marko v4 syntax"
See: https://github.com/marko-js/marko-prettyprint

[2017-01-03 18:42] patrick-steele-idem opened #500 "Update syntax highlighting to support Marko v4 syntax"

[2017-01-03 19:00] albertogasparin commented on #498
Thanks for the quick resolution. As wrapping code with `---` is still valid I don't think it will be a major pain.
I just had an "oh dear, WTF" moment after updating Marko, as nothing was said in the changelog so I thought npm went crazy and messed up versions 😉

[2017-01-03 22:39] smulder opened #502 "Combining onMouseOver and onMouseOut causes component definition to break"
## Bug Report

### Context
[code]

### Expected Behavior
Currently only one of them will work on it's own, they work when one is not included. You would expect to both be able to receive onMouseOver and onMouseOut events.

### Actual Behavior
Template will not compile with both as it errors at:
[code]

Stating that __widgetId1 is undefined

1.
2.
3.
4.

### Stack Trace
index.marko.js:273 Uncaught

[2017-01-03 22:47] #502 closed

[2017-01-03 22:47] patrick-steele-idem commented on #502
Fixed! New version published: `marko@4.0.0-beta.8`

[2017-01-04 02:41] mindeavor commented on #492
What do think about having the component pre-define custom children tag names? For example, my goal for the project I'm working on is to have as simple markup as possible for copy editing. Ideally I'd like to write something like:

[code]

Although I can replace each `<step>` with `<@step>`, it feels inconsistent with all the other HTML I write.

Maybe a marko component can define `childTags: ['st

[2017-01-04 04:02] mindeavor opened #503 "Feature suggestion: Macro Bodies"
Might be related to #253

### Description

One of React / hyperscript's strongest ideas is the concept of "views as functions". Although I prefer Marko's "HTML before JS" approach (principle of least power), I think it could go a bit further with the first idea by adding body support to macros.

### The Problem

Currently if you have a list of content to map state onto, you have two options (as fa

[2017-01-04 05:16] patrick-steele-idem commented on #503
Great minds think alike. That's already a feature of Marko exactly as you suggested :) See:

https://github.com/marko-js/marko/tree/master/test/autotests/render/macro-body

Specifically:

[code]

Sorry for the lack of documentation! If you would be interested in improving the docs, here's the place to go: https://github.com/marko-js/marko/edit/master/docs/language-guide.md

[2017-01-04 17:01] mindeavor commented on #503
Amazing! Yes, I'm interested in adding to the docs. Consider this issue assigned to me :)

[2017-01-04 18:19] #440 closed

[2017-01-04 18:19] mlrawlings commented on #440
Looks like [`taglibImports`](https://github.com/marko-js/marko/blob/master/compiler/taglib-loader/loader-taglib.js#L200-L248) with a small tweak will already do this.

[2017-01-05 08:42] westtrade opened #504 "Module build failed: Error: Node does not have a `writeCode` method"
main.marko
[code]
default.marko
[code]

with <!doctype html> in first line of template error has been happend
[code]

without DOCTYPE it works.

Type of compile - vdom with compileFileForBrowser function.

[2017-01-05 16:42] xaricx opened #506 "node-require base class calling install() forces writeToDisk, exception on read-only systems"
## Bug Report

### Context
In node-require.js, right before the module.exports, `install()` is called. Consequently, default options are used.
* This causes an exception to be thrown on read-only systems since the default option in the compiler is to writeToDisk.
* This also results in `install()` potentially being called twice.

### Expected Behavior
`require("marko/node-require").install({compil

[2017-01-05 17:04] Hesulan commented on #506
Related: #365

[2017-01-05 17:23] Primajin opened #507 "replaceChildrenOf seem to create an infinite loop"
## Bug Report

### Context

Using latest marko 4 beta 8, I want to render a component that uses the await tag - purely in the browser. The component is built according to [http://markojs.com/try-online/#Async_Await](http://markojs.com/try-online/#Async_Await)

[code]

while being required by a simple index page that collects all the components (currently just one)

[code]

which itself is injected

[2017-01-05 18:04] patrick-steele-idem opened #508 "Bugs in the static sub-tree optimization for VDOM compilation"
Thank you, @smulder, for finding these bugs! I'll be publishing a fix soon.

[2017-01-05 18:05] #508 closed

[2017-01-05 18:10] patrick-steele-idem commented on #508
New version published with fix: `marko@4.0.0-beta.9`

[2017-01-05 18:19] patrick-steele-idem opened #509 "[v4] Text input without defined value receives "undefined" after rerender"

[2017-01-05 18:27] #509 closed

[2017-01-05 18:44] westtrade commented on #507
I think it's duplicate of  https://github.com/marko-js/marko/pull/505

[2017-01-05 18:56] patrick-steele-idem commented on #507
New version published with fix: `marko@4.0.0-beta.10`

[2017-01-05 18:56] #507 closed

[2017-01-05 20:18] smulder commented on #508
👍

[2017-01-06 00:10] #506 closed

[2017-01-06 00:10] patrick-steele-idem commented on #506
New version published with fix: `marko@4.0.0-beta.11`

Thanks for reporting the problem!

[2017-01-06 00:44] mindeavor opened #511 "[v4] Bug related to textarea"
## Bug Report

### Context

[code]

### Expected Behavior

The `<pre>` should be populated with `Placeholder error` after clicking the button.

### Actual Behavior

Clicking the button throws an error.

<details><summary>Additional Info</summary>

### Your Environment

* Version used: v4.0.0-beta.10
* Environment name and version: Chrome
* Operating System and version (desktop or mobile): OS X 10.

[2017-01-06 01:57] #511 closed

[2017-01-06 01:58] patrick-steele-idem commented on #511
New version published with fix: `marko@4.0.0-beta.12`

Thanks for beta testing and reporting the problem!

[2017-01-06 02:10] patrick-steele-idem commented on #503
Thanks for the PR to update the docs. Closing this issue now that the docs have been updated. Thanks, again!

[2017-01-06 02:10] #503 closed

[2017-01-06 02:11] #500 closed

[2017-01-06 02:12] patrick-steele-idem commented on #495
We want to strictly follow the ES6 import syntax. Closing this issue. Thanks.

[2017-01-06 02:12] #495 closed

[2017-01-06 02:21] patrick-steele-idem commented on #491
@eikaramba Sorry for the delayed response. I added a test case for what I was trying to explain. Please take a look at the following: https://github.com/marko-js/marko/tree/master/test/autotests/render/static-text-tag

The implementation for the `<static-text>` tag can be found in the following directory: https://github.com/marko-js/marko/tree/master/test/autotests/render/static-text-tag/component

[2017-01-06 02:24] patrick-steele-idem commented on #453
The solution in V3 is to use `require.resolve('./template.marko')` to cause the template to be lazily loaded on first render. This is not an issue in Marko v4. I don't think it would make sense to try to fix this in V3 since there is a workaround. Closing this issue, but feel free to add comments if you disagree.

[2017-01-06 02:24] #453 closed

[2017-01-06 03:50] juliocanares opened #513 "Input tag is being filled with undefined value when the component's state change."
## Input tag is being filled with undefined value when the component's state change.

### Context
I found what I think is a bug. When I change the state of my component and there is an input in the template, Marko fills it with an undefined value even if I don’t explicitly set the input’s value .

![image](https://cloud.githubusercontent.com/assets/5007653/21706817/dc09a5b2-d397-11e6-8df5-67627de0

[2017-01-06 04:00] patrick-steele-idem commented on #513
Thanks for opening the issue. This has been fixed. Please see issue #509. If you upgrade to the latest beta you should be good to go

[2017-01-06 04:00] #513 closed

[2017-01-06 13:22] austinkelleher opened #514 "Deprecate <widget-types>"
Should we deprecate `<widget-types>` since we are deprecating `w-bind`? Are there any good use cases for using `<widget-types>` besides conditionally binding a widget with `w-bind`?

Example:

[code]

Related: #421

[2017-01-06 15:04] Hesulan commented on #421
Is there another way to achieve the same result? I can think of a few cases where it would be useful, though perhaps not strictly necessary, to be able to explicitly bind a widget file path. One example would be #514 - is there an alternative, or would that functionality no longer be possible?

[2017-01-06 15:12] austinkelleher commented on #421
@Hesulan We decided to not allow that anymore

[2017-01-06 15:50] patrick-steele-idem commented on #421
@Hesulan The problem with `<widget-types/>` was that all possible widgets ended up being bundled up by the JavaScript module bundler. The better alternative is to have a single widget that can delegate out to a particular widget implementation or to conditionally remap the JavaScript widget module to the correct module at bundling time. Lasso supports conditional remaps (see `requireRemap` in http

[2017-01-06 16:03] Hesulan commented on #421
@patrick-steele-idem Ah, that does clarify. Thanks! Probably a good idea to mention those alternatives somewhere in the v3-v4 upgrade docs, and maybe a few examples to make refactoring easier.

[2017-01-06 18:43] #421 closed

[2017-01-06 18:44] #514 closed

[2017-01-06 18:46] patrick-steele-idem opened #516 "[v4] When rendered on the server, state props with null/undefined not watched"

[2017-01-06 19:00] eikaramba commented on #491
Perfect, now it works flawlessly. I guess the code-generator.js was the missing puzzle piece ;) Thx for the help and your (still very) quick response. Highly appreciated. And yes, it works for v3 too.

[2017-01-06 19:00] #491 closed

[2017-01-06 19:28] #516 closed

[2017-01-06 19:36] mindeavor opened #517 "[v4] Marko treats es6 string templates as marko interpolation tags"
## Bug Report

### Context

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### Your Environment

* Version used: v4.0.0-beta.12

[2017-01-06 19:46] patrick-steele-idem commented on #517
@mindeavor I would expect that to work since Marko shouldn't do anything special with the code inside the `<script>` block. Would you be interested in working on this?

[2017-01-06 20:06] Hesulan commented on #517
Would adding `"body": "static-text"` in the `marko.json` fix that (similar to the [app-markdown](https://github.com/marko-js-samples/ui-components-playground/blob/master/src/components/app-markdown/marko-tag.json) sample component)?

[2017-01-06 20:35] mindeavor commented on #517
I don't think I would have the time to dig into the codebase in the near future, no :(

[2017-01-06 21:08] patrick-steele-idem commented on #517
@mindeavor No worries!

I think you are right, @Hesulan. Would you be interested in working on a fix?

[2017-01-06 21:49] patrick-steele-idem commented on #517
Michael and I had a quick discussion and our conclusion was that we should update `htmljs-parser` to ignore Marko placeholders inside template literal strings in `parsed-text` mode.

[2017-01-06 22:14] patrick-steele-idem opened #518 "[v4] Make sure Marko hot reloading is always enabled when app is launched with browser-refresh"

[2017-01-06 23:30] #518 closed

[2017-01-07 16:28] aaronshaf opened #519 "Use "for of" instead of "for in" looping"
In ES6 "of" gives you the value and "in" gives you the key.

[2017-01-07 22:24] greenkeeper[bot] opened #521 "An in-range update of lasso is breaking the build 🚨"
## Version **2.10.0** of [lasso](https://github.com/lasso-js/lasso) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Flasso-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lasso
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-01-07 22:35] greenkeeper[bot] opened #522 "An in-range update of lasso-marko is breaking the build 🚨"
## Version **2.2.1** of [lasso-marko](https://github.com/lasso-js/lasso-marko) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Flasso-marko-2.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lasso-marko
    </td>
  </tr>
  <tr>
    <th align=lef

[2017-01-08 00:17] #517 closed

[2017-01-08 00:28] #405 closed

[2017-01-08 00:38] #492 closed

[2017-01-08 00:52] #470 closed

[2017-01-08 00:54] patrick-steele-idem commented on #522
Resolved

[2017-01-08 00:54] #522 closed

[2017-01-08 00:54] patrick-steele-idem commented on #521
Resolved

[2017-01-08 00:54] #521 closed

[2017-01-08 17:08] mlrawlings opened #523 "Unused file?"
It seems file at [/taglibs/core/util/parseJavaScriptIdentifier.js](https://github.com/marko-js/marko/blob/690c1d14333fcd9f7969dbbc1591fc538c2932c8/taglibs/core/util/parseJavaScriptIdentifier.js) does not appear to be [used](https://github.com/marko-js/marko/search?utf8=%E2%9C%93&q=parseJavaScriptIdentifier).

[2017-01-09 15:32] patrick-steele-idem commented on #523
It was probably used at one point, but it looks safe to delete now. Please feel free.

[2017-01-09 15:37] patrick-steele-idem commented on #519
We've already deviated from JavaScript (in ways that I make more sense) and we would not want to introduce any breaking changes at this point. FYI, You can do the following if you want both the key/index and value when looping over the elements/properties of an `Array`/`Object`:

[code]

That syntax works with objects too:

[code]

If you still have suggestions/concerns, please let us know and hap

[2017-01-09 15:37] #519 closed

[2017-01-09 16:48] danrichman commented on #460
I've been using pm2 successfully with both Marko v3 and Marko v4 (latest beta) without any problems. No problems here.

[2017-01-09 18:34] #523 closed

[2017-01-11 00:32] ianvonholt opened #524 "include() does not default to include(data.renderBody)"
I've been following the 4.0 milestone, however I'm getting the following error:

[code]

However, with respect to https://github.com/marko-js/marko/issues/418, examples and notes illustrate the following approach:

```include()``` is the same as ```include(data.renderBody)```

Commit https://github.com/marko-js/marko/commit/306e19b88e9e305c83b9da1b4eab3fa8e028ee8f introduces the body-slot tag.

Sh

[2017-01-11 22:33] Hesulan commented on #504
I can't think of any use-cases where this would really be necessary, but I also can't see much reason to throw an error. Browsers seem to silently remove the `<!DOCTYPE>` tag whenever it occurs somewhere it shouldn't, I feel like that's probably the best thing for Marko to do as well.

[2017-01-11 23:05] patrick-steele-idem opened #525 "[v4] The out should be passed to onInput(input, out)"
The signature for `onInput` should be `onInput(input, out)`. It is currently `onInput(input)`.

[2017-01-11 23:06] patrick-steele-idem commented on #525
/cc @ianvonholt

[2017-01-11 23:30] mlrawlings commented on #525
Closed via https://github.com/marko-js/marko/commit/2c04a4d916fb427e42ee923b3b66509bb26ac4f5

Note: When using [`setProps`](https://github.com/marko-js/marko/blob/master/widgets/Widget.js#L325-L346), `out` is not passed (nor was it passed to `getInitialState` in v3).

[2017-01-11 23:30] #525 closed

[2017-01-11 23:49] patrick-steele-idem commented on #525
@mlrawlings I'm not seeing an issue related to `setProps`. Calling `setProps(newProps)` will cause the component to be rerendered with `newProps` as the input and a new `out` will be created to do the rerender and those things will be passed to `onInput()`. Am I misinterpreting your note?

[2017-01-12 01:21] ianvonholt commented on #525
@patrick-steele-idem and @mlrawlings This reflects the behavior that was available in v3 with getInitialState and I don't see any problems with backwards compatibility. Thank You!

[2017-01-12 14:57] Hesulan commented on #524
The `<body-slot>` tag was removed shortly after being added, and `include()` with no arguments was disallowed. I believe `include(data.renderBody)` is now the recommended way to do this.

You can also do something like:
[code]
Then use it like:
[code]
or
[code]

[2017-01-12 15:48] Hesulan opened #526 "NPM package includes `~node_modules` and `~runtime`"
Directories named `~node_modules` and `~runtime` seem to have been accidentally added to the NPM package starting from `4.0.0-beta.6`, bringing the `package.tgz` size from < 300 kB to > 3 MB. Still there as of `4.0.0-rc.0`.

/cc @patrick-steele-idem @mlrawlings

[2017-01-12 16:11] patrick-steele-idem commented on #526
Thanks for letting us know. New version published with those directories removed: `v4.0.0-rc.1`

The new version also includes https://github.com/marko-js/marko/issues/525

[2017-01-12 16:11] #526 closed

[2017-01-12 16:23] patrick-steele-idem commented on #524
Related: [#492 - Deprecate w-body in favor of include](https://github.com/marko-js/marko/issues/492) (there is a collapsed "Other Options Considered" section that has relevant details)

#418 is out-of-date after further discussions were made as part of #492. The feedback that we received was that no one really liked the usage of `<include()>` with an empty argument since it didn't make it clear wh

[2017-01-12 16:23] #524 closed

[2017-01-12 17:17] ianvonholt commented on #524
@patrick-steele-idem Thank You.

I have a all of the code using the proper `include(target)` due to the various research through the issues list. However, it wasn't readily apparent which direction was actually correct and I wanted a bit more feedback on what was the final decision.

[2017-01-12 19:11] mindeavor opened #527 "[v4] Click binding lost after client-side redraw"
## Bug Report

On first render, an `on-click` handler works perfectly on a first button. After a redraw (upon clicking the "I already have an account" button), the new button does not receive the click binding like the first.

### Context

[code]

<details><summary>Additional Info</summary>

### Your Environment

* Version used: v4.0.0-rc.1
* Environment name and version: Chrome 54, node 6.9.1
* O

[2017-01-12 19:16] patrick-steele-idem commented on #527
Let me see if I can reproduce. Taking a look. Thanks for reporting the problem.

[2017-01-12 19:40] patrick-steele-idem commented on #527
I am not able to reproduce @mindeavor. When I click on the "I already have an account" button, the form toggles and I am able to click the corresponding button to toggle back and everything appears to be working as expected.

[2017-01-12 19:45] mindeavor commented on #527
Hmm. Can you confirm your URL bar has not changed? Clicking the button the second time submits the form, which does revert it back to the original state.

[2017-01-12 19:47] mindeavor commented on #527
Ohh hmm, I see. I changed the `<form>` tag to a `<div>` tag and it worked. But then that means marko is preventing the form from submitting for the first click, but not the second?

[2017-01-12 20:02] patrick-steele-idem commented on #527
As part of the HTML spec, the `<button>` element defaults to a `<button type="submit">` button and will submit the form when clicked. If you change to `<button type="button">` then your form will work as expected and clicking the button will not submit the form. That should resolve the issue with no changes to marko required.

[2017-01-12 20:09] mindeavor commented on #527
I understand that, and know how to work around my problem now. But isn't it strange that marko prevents the first button click from submitting the form, but not the second? According to the HTML spec marko should not be preventing the submit at all, correct? That's what confused me in the first place; because of the current behavior, I had assumed marko was preventing the form *for* me as a featur

[2017-01-12 20:11] patrick-steele-idem commented on #527
Fair point. Let me take a closer look to figure out why the first time the button clicks it does not submit the form.

[2017-01-12 21:29] gilbert opened #528 "[v4] Allow setState to accept an Event object?"
## New Feature

Perhaps related to #125

### Description

Allow the signature `setState(key, value)` to accept an Event object as its value (`e`), causing `setState` to extract `e.target.value`.

### Context

Forcing two-way data binding to be explicit is good in general, but for very basic cases it's a chore. For example, take the following component:

[code]

For this very basic task, I had to w

[2017-01-12 22:39] patrick-steele-idem commented on #527
We investigated some more and everything is working correctly, but there was an interesting side effect related to DOM diffing/patching that was causing the observed behavior. It just so happened that when clicking on the submit button for the first time, the DOM diffing/patching algorithm ends up detaching the clicked submit button from the DOM and this causes the browser to not submit the form.

[2017-01-12 22:39] #527 closed

[2017-01-12 23:17] patrick-steele-idem commented on #528
Just throwing this out there is a possible alternative:

[code]

In theory, this could be implemented in user land (via a combination of a custom compile-time transform and a small runtime) and if it proves to be valuable then we could pull it into the core marko. Thoughts?

[2017-01-12 23:23] patrick-steele-idem commented on #528
For reference:

- React
  - [Forms/Controlled Components](https://facebook.github.io/react/docs/forms.html)
  - [Uncontrolled Components](https://facebook.github.io/react/docs/uncontrolled-components.html)
- Vue
  - [Form input Bindings](https://vuejs.org/v2/guide/forms.html)

[2017-01-13 01:20] mindeavor commented on #528
Coming from Mithril.js, I always liked teaching two-way data binding in this manner:

[code]

The value in this is it uses plain DOM concepts (`value`, `oninput`, `e`), and the data flow is very clear (on the input DOM event, assign `myData` to the event target's current value).

In other words, there's very little magic to it. So far, Marko has also avoided data-flow magic for the most part, and

[2017-01-13 19:03] mindeavor opened #530 "[v4] Issue with inline style tag"
## Bug Report

### Context

[code]

### Expected Behavior

The text should be green, and clicking the `+` button should increment the counter.

### Actual Behavior

The text is green, but the `+` button does nothing.

Hopefully it doesn't have to do with my configuration :)

- [Link to component file](https://github.com/mindeavor/marko-style-tag-issue/blob/master/client/components/counter/index.ma

[2017-01-13 19:13] patrick-steele-idem commented on #530
Just a quick update:

- I am not able to reproduce when using your component in `ui-components-playground'
- I am able to reproduce the problem within your sample app (investigating)

[2017-01-13 19:18] mindeavor commented on #530
I see. In that case I would think it has to do with `require('marko-magic')`, but I just removed that line and it's still happening..

[2017-01-13 19:29] patrick-steele-idem commented on #530
It looks to be a bug in Marko (specifically, template metadata). Internally, `marko-magic` is calling `template.getDependencies()` to get the top-level page dependencies and this method is returning the incorrect value when the UI component has a `<style>` tag:

With style tag:

[code]

NOTE: The `index.marko` file is not included as a dependency when it should be.

Without style tag:

[code]

`ui

[2017-01-13 19:35] mlrawlings commented on #530
@mindeavor There was a regression in `4.0.0.-rc.1` (my bad 😞) that has been fixed, but had not been published (https://github.com/marko-js/marko/commit/1564788f2e0b84dce79d755602b7bdf9f26f8a58).  Things will be fixed if you pull in`4.0.0.-rc.2` which I believe Patrick is publishing as we speak.

[2017-01-13 19:46] patrick-steele-idem commented on #530
Fix from @mlrawlings verified. New version published with fix: `marko@4.0.0-rc.2`

@mindeavor Please let us know if you see any other issues. Thanks, again.

[2017-01-13 19:46] #530 closed

[2017-01-13 23:51] patrick-steele-idem commented on #528
Here are some notes from various discussions:

[code]

[code]

[2017-01-14 02:23] mindeavor commented on #528
I'm starting to really like the enhanced `setState` argument. I think ``on-change('setState', `orders.${i}.shipped`)`` is readable, intuitive, and convenient, assuming it does the "immutable update" that we discussed.

Another reason I think it's important to keep the data bind directions separate is to allow for different kinds of data binding without creating more esoteric language constructs. F

[2017-01-14 02:29] patrick-steele-idem opened #531 "[v4] Whitespace normalization not handling WIndows EOL correctly"

[2017-01-14 02:43] #531 closed

[2017-01-14 02:44] patrick-steele-idem commented on #531
Related: https://github.com/marko-js-samples/ui-components-playground/issues/4

[2017-01-14 03:11] patrick-steele-idem commented on #531
New version published: `marko@4.0.0-rc.3`

[2017-01-14 06:40] mlrawlings commented on #528
@mindeavor Our thinking was `:bind` would look for _both_ `change` and `input` events.  But you're right, I've often had an `change` event handler on a text input to reformat a phone number **after** input, so it wasn't changing as the user typed.

The issue with  ``on-change('setState', `orders.${i}.shipped`)`` is that in this case, we want the value of `checked`, not `value`.

We could add a new

[2017-01-14 17:35] patrick-steele-idem commented on #528
@mlrawlings did you mean `setStateFromEvent`?

[2017-01-14 19:00] mindeavor commented on #528
Ideally `setState` would be smart about events. If I'm not mistaken, `checked` is an anomaly; all other input types store their user input within `elem.value`.

The [non-mutually exclusive] options I see are:

- Upgrade setState's logic to be something like `newValue = e.target.checked || e.target.value` when given an Event object value
- Add a `setStateFromEvent` for the generic case (maybe one w

[2017-01-15 17:07] austinkelleher opened #532 "Add --version | -v support to markoc"
[code]

See: #487

[2017-01-15 17:19] patrick-steele-idem commented on #532
Currently, `markoc` resolves the Marko compiler from `process.cwd()` so that it resolves the project-specific Marko compiler from the current project:
https://github.com/marko-js/marko/blob/346797a89db9cacef682d92c69efe90b125bff61/bin/markoc.js#L10

The reason I mention that is because should `markoc` should probably report the version of the resolved marko compiler and not the version of the pack

[2017-01-15 22:02] austinkelleher commented on #532
Sounds good, @patrick-steele-idem .

[2017-01-15 22:07] austinkelleher commented on #532
Another note, `--vdom` uses the alias `-v`. Should we change that and make `--version` use the alias `-v`? It would be a breaking change, but `--vdom` was not available in Marko v3, so we don't have to worry about backwards compatibility.

[2017-01-15 22:17] patrick-steele-idem commented on #532
@austinkelleher Let's change `--vdom -v` to  `--vdom -V` and introduce `--version -v`. Sound good?

[2017-01-15 22:28] austinkelleher opened #534 "Add GitHub Linguist Support"

[2017-01-15 22:53] patrick-steele-idem commented on #534
Let's wait until after the v4 release to send a PR to [https://github.com/github/linguist](https://github.com/github/linguist)

[2017-01-16 13:05] austinkelleher commented on #532
We decided that the `markoc -v` will print out two versions. The first being the actual `markoc` version, and the second being the version of Marko that will compile the templates. `markoc template.marko` resolves the Marko from your present working directory, so if you have Marko installed in your project, `markoc` will use the locally installed version of Marko for compiling. It will print out l

[2017-01-18 04:07] gilbert opened #536 "[v4] Absorb rest of features in marko-magic?"
The `marko-magic` module enables game changing auto-detection for asset dependencies. I had thought that marko would absorb it all for v4, but it looks like `marko-magic` is still necessary for some lasso-related things.

For example, in the [ui-components-playground](https://github.com/marko-js-samples/ui-components-playground) I still see:

- `<lasso-head/>` and `<lasso-body/>` in the layout
- a

[2017-01-18 04:34] mlrawlings commented on #536
So technically, these changes will be outside of Marko and be a part of the Lasso taglib.  While Marko is at an RC, there is still some things to update in supporting package and this is one.

However, I would like to have some discussion around the Marko magic approach and if we should make all of it mainstream.

Particularly, I have concerns about automatically injecting the Lasso head and body

[2017-01-18 04:40] mlrawlings commented on #532
Should we label the versions?

[2017-01-18 14:14] patrick-steele-idem commented on #532
@mlrawlings what do you mean by "Should we label the versions?" ?

[2017-01-18 15:58] Eldar-X opened #537 "Marko 4 widget inline output support"
## Inline output support for marko widgets

While marko widget now part of marko.js how about add support for printing compiled output of widgets inline to template file without bundlers?

I think it's important feature because widgets must be independent from 3rd part tools but can provide support for them.

[2017-01-18 16:08] Eldar-X opened #538 "Add support for exporting data from marko templates"
## Exporting data from template

I think it would be very nice feature if we can exporting data from template files because now marko files have much power and we can make logical operations some times we just want to export result for using it somewhere else.

### Example use case:

We have cms and we want define output fields for this template then in our admin page we want get all fields of sel

[2017-01-18 16:26] Eldar-X opened #539 "[v4.0.0-rc.3] Marko template prints only string values"
I just migrate my project from v3 to v4.0.0-rc.3 and i see that i can't print non string values in template like before.

[code]

### Details
My project is using koa 2 framework
MacOs Sierra

command for running system is
browser-refresh --harmony_async_await index

[2017-01-18 17:33] mindeavor commented on #536
I think requiring `<lasso-head/>` and `<lasso-body/>` is acceptable. It's the json files that I'm mostly concerned about; I want to write as few of those as possible :)

[2017-01-18 17:34] patrick-steele-idem opened #540 "[v4] Use parseStatement + tagString to parse the var tag"

[2017-01-18 23:31] #539 closed

[2017-01-19 13:11] Eldar-X opened #541 "Extra quotation marks on output"
## Extra quotation marks on output of non string objects

When variable is not a string output have extra quotation marks

[code]

[2017-01-19 13:36] austinkelleher commented on #487
As we discussed a few days ago @patrick-steele-idem, we should also consider adding a note to the compiled output stating that it is compiled and to not edit it. e.g.

[code]

or

[code]

[2017-01-19 15:05] mlrawlings commented on #532
I missed that there were different package names.  This should be fine

[2017-01-19 22:04] #541 closed

[2017-01-19 22:05] patrick-steele-idem commented on #541
I pushed a fix. I will be publishing a new version very shortly. Thanks for reporting the problem @Eldar-X.

[2017-01-19 22:18] patrick-steele-idem commented on #541
New version published: `marko@4.0.0-rc.6`

Please let us know if you see any other problems. Thanks!

[2017-01-20 14:11] austinkelleher commented on #532
This has been fixed and published in `marko@4.0.0-rc.6`.

[2017-01-20 14:11] #532 closed

[2017-01-20 16:18] rgagnon24 opened #542 "How to disable "concise" defaultMode?"
I have a template that is in HTML format, but the parser is assuming concise mode, so warnings for issue 43 and 48 from htmljs-parser are now popping up in the console.

How do you disable concise mode if you do not use it?

[2017-01-20 17:14] patrick-steele-idem commented on #542
You can immediately switch into HTML mode by using an HTML delimited block:

[code]

Does that solve your issue?

[2017-01-20 20:12] valeriangalliat opened #543 "Expression grouping with parentheses not respected"
## Bug Report

### Context

I'm trying to compile the following template:

[code]

But the grouping around `(state_names[state] || state)` is not respected in the output.

### Expected Behavior

[code]

### Actual Behavior

[code]

See how the grouping around `state_names[state] || state` is dropped.

### Your Environment

* Version used:
* Marko 3.14.0
* Node.js 6.9.2
* macOS Sierra (10.12.2)

[2017-01-20 20:25] patrick-steele-idem commented on #499
This has been resolved. Also, [atom-language-marko](https://github.com/marko-js/atom-language-marko#prettyprint) now integrates [marko-prettyprint](https://github.com/marko-js/marko-prettyprint).

[2017-01-20 20:25] #499 closed

[2017-01-20 20:27] patrick-steele-idem commented on #543
Thanks for reporting the problem. I'm investigating now.

[2017-01-20 21:01] patrick-steele-idem commented on #543
Resolved. New version published with fix: `marko@3.14.1`

This bug had already been fixed in Marko v4.

Thanks again for reporting the problem.

[2017-01-20 21:01] #543 closed

[2017-01-20 21:02] patrick-steele-idem commented on #540
Already resolved.

[2017-01-20 21:02] #540 closed

[2017-01-20 21:12] valeriangalliat commented on #543
Thanks a lot!

[2017-01-20 23:05] mlrawlings commented on #542
@patrick-steele-idem The parser allows disabling concise mode.  Do we (or can we) disable it for `.marko.html` and `.marko.xml` files?

[2017-01-20 23:08] patrick-steele-idem commented on #542
We could disable concise mode for `.marko.html`, but I'm not sure we want to go there because it breaks syntax highlighting (unless we refactor our syntax highlighting bundles).

[2017-01-21 00:15] rgagnon24 commented on #542
I didn't know about wrapping with `--` as I couldn't find any documentation on that.  Thanks for the tip.  That should work, and probably much easier than figuring out how to change marko to pass the concise: false option to htmljs-parser

[2017-01-21 00:19] patrick-steele-idem commented on #542
Sorry for the lack of docs on that @rgagnon24. We are completely reworking the docs for the Marko v4 release and things will be a lot more clear. Let us know if you have any questions, but closing this issue for now.

[2017-01-21 00:19] #542 closed

[2017-01-21 16:38] patrick-steele-idem opened #544 "Usage of macro before it is defined not handled correctly"
Example:

[code]

[2017-01-21 16:40] #544 closed

[2017-01-23 15:01] artlantis commented on #396
There is a typo problem in the document. At "New widget lifecycle methods" section, new and old (onInput) samples should switch each other.

[2017-01-23 17:10] scttdavs opened #545 "String interpolation not working in latest v3"
## Bug Report

### Context
Our template with string interpolation in the `<script>` tag is not working as it was before (in v3.9). See below for a simplified example.

### Expected Behavior
This template:
[code]
should render as:
[code]

### Actual Behavior
[code]

### Possible Fix

Not a fix, but a clue: oddly, this template correctly renders the interpolation:
[code]
Result:
[code]

### Your Env

[2017-01-23 17:22] patrick-steele-idem commented on #545
It looks like fixing one bug is causing another. The parser now tokenizes the content of script blocks and ignores string tokens to avoid issues with trying to do text replacement inside JavaScript strings. We might have to wait and see the impact on this change, but the correct thing to do is the following:

[code]

Technically, this bug fix was a breaking change, but I don't think we should go b

[2017-01-23 22:23] scttdavs commented on #545
if it ignores string tokens, then why is it still replacing the strings in some situations (such as the one I gave above)?

This is not a major bug for us, so we can change our templates to accommodate for it. It was just unexpected since even though we are typing js, it's still within the template and I'd expect the replacement to work the same.

[2017-01-24 02:55] mindeavor opened #546 "[v4] Strange nested component redraw bug after updating parent state"
## Bug Report

### Context

Take a page containing the following...

[code]

...with a `session-panel` component defined in a singe `index.marko` file...

<details>
<summary>components/session-panel/index.marko</summary>

[code]

</details>

...and the following component for `password-picker`...

<details>
<summary>components/password-picker/index.marko</summary>

[code]

</details>

### Expected

[2017-01-24 03:36] patrick-steele-idem commented on #546
This is not a bug in marko and marko is behaving as expected. Your `password-picker` component is stateful and every time it receives new input it is resetting its state to `{ password: '', grade: 'bad' }`. The problem is that the `password-picker` component is emitting an event that causes its parent component to rerender. When the parent UI component rerenders it is rerendering the child `passwo

[2017-01-24 03:36] #546 closed

[2017-01-24 03:56] mindeavor commented on #546
ooh, I see! I misunderstood marko's component lifecycle. For the record, am I misusing `onInput` to set initial state?  Is there a more appropriate lifecycle method I should be using?

[2017-01-24 04:05] mindeavor commented on #546
Oh yeah: adding `no-update` worked, but that doesn't seem like a good genenal solution, since it doesn't allow the component to accept future changes from its parent.

A more general solution would be to only set state if it does not exist:

[code]

that way the component can decide to take potentially-changing input from `attrs` if it needs to.

[2017-01-24 18:29] mlrawlings commented on #538
@Eldar-X Would this cover your use-case? https://github.com/marko-js/marko/blob/bce3836d099854f3aa9f2f48fffb470cd7a78399/docs/04-core-tags.md#export

I'm going to implement this in a bit unless you have some feedback.

[2017-01-24 18:31] mlrawlings commented on #537
Can you explain a bit more? I'm not clear on what you are suggesting.

[2017-01-24 18:44] mlrawlings commented on #545
Maybe we should only be skipping template literals (`` `Hello ${name}` ``)?

[2017-01-24 20:05] Eldar-X commented on #538
Looks like what i need.
Let's make some example something like this is working?
[code]

[2017-01-24 20:11] Eldar-X commented on #537
Now for working with marko we must bundle output of widget yes? But why we can't just put output of widget into html between script tag? for example we have onclick listener in our widget why just not put in html? I know that bundled js have some better features but it also may be not bad

[2017-01-25 01:39] mlrawlings opened #547 "Deprecate <script> with export and <script template-helpers>"
We've decided to stop hijacking the script tag and use concise style tags that look like JS instead.

### Deprecate `<script>` with export

Old:

[code]

New:

[code]

### Deprecate `<script template-helpers>`

Old:

[code]

New:
[code]

### Moving to an external file

One concern you may have is that with the `<script>` with export approach, the only change required to move a component to an exte

[2017-01-25 05:23] mindeavor commented on #547
What does moving static functions over to `component.js` look like?

[2017-01-25 15:51] patrick-steele-idem commented on #547
@mlrawlings Can you update this issue to also mention:

[code]

I wonder if it makes sense to recommend `static { ... }` because it makes it a little easier to move those functions how to a separate file if needed (only the block content needs to be copied out)

[2017-01-26 03:55] patrick-steele-idem commented on #547
@mindeavor, @philidem and I had an impromptu discussion based on concerns raised in the Gitter chat room. The following proposal seemed to be liked by everyone:

[code]

Reopening the issue for discussion. It's not too late to voice your approval or concerns.

[2017-01-26 05:33] mindeavor commented on #547
Although I find that syntax ok, my ideal syntax would still be something like this:

[code]

[2017-01-26 12:11] Eldar-X commented on #547
I think it's not readable and clear like old syntax. Example if you are newbie in marko world and you see
[code]
You can easy understand that some logical operations is happen in script tags but if you see

[code]
You can think someone try to write in output "static function ... etc". Also if you need to write really to output something like this you need to wrap this code and it's not intuitive.

[2017-01-26 16:13] Hesulan commented on #547
@Eldar-X
You're certainly not alone in preferring standard over concise syntax. I personally prefer concise, but I do feel that the official documentation should use HTML syntax whenever possible.

@mindeavor @patrick-steele-idem
I much prefer using a separate tag rather than hijacking `<script>`. Even with the `template-helpers` or `marko-init` attribute, the first time I saw that it took a while

[2017-01-26 16:48] mindeavor commented on #547
I think it's good and unsurprising that marko transforms `<style>` tags. I wouldn't want my styles to be inlined every time I use the component :)

If we really want to stay away from `<script>`, then we can use a different name instead:

[code]

[2017-01-26 17:13] mlrawlings commented on #547
@mindeavor I mostly agree (which is why this is the current behavior), but there is the concern that someone could be using Marko as a pure template language (without lasso, webpack, etc) &mdash; something we still want to support.  Suppose you had a template like the following that you wanted to include in the `<head>` of many pages:
[code]
It would probably be surprising if your `<style>` tag di

[2017-01-26 18:01] Hesulan commented on #537
Even the simplest widget depends on the `marko/widgets` runtime, which needs to be bundled anyway. It *might* be possible to add a compiler optimization to recognize this edge case and use plain JS instead, but that could easily break something. Alternatively, you could just add `<script>document.getElementById(...).addEventListener(...);</script>` yourself or even write a custom attribute transfo

[2017-01-26 18:31] mlrawlings commented on #546
@mindeavor I wonder if there could be value in making use of the `constructor`:

[code]

[code]

In this example, _both_ `constructor` and `onInput` would be called when creating the component,
yielding an initial state of `{ count:0, color:'#ccc' }`.

Changing the value of the `color` attribute would only call `onInput` and therefore would not clobber the existing `count`.

[2017-01-26 18:59] mindeavor commented on #546
@mlrawlings Yes, using `constructor` makes a lot of sense :) How would `constructor` run with respect to server/client side rendering?

[2017-01-26 22:43] mlrawlings commented on #547
I would like to point out that I prefer the HTML syntax, _but_ I think it makes sense to use the concise syntax for these JS-like tags and other tags that don't directly affect the output, while still using the HTML syntax for tags that are actually involved in rendering the final HTML output.

`<script>` and `<style>` not ending up in the output HTML doesn't fit with the default expectation and f

[2017-01-26 23:16] mindeavor commented on #547
@mlrawlings I generally agree with what you're saying. `style {}` is fine, and so is `class` in your simple example. Using curly brackets to differentiate between html tags and output is a good idea too.

The problem appears when you want something more than just a `class`. Specifically:

- Where do I put imports?
- Where do I put helper functions?
- Where do I put static data?

`class` is not rea

[2017-01-26 23:36] patrick-steele-idem commented on #547
The "component class" is special and I believe it deserves to be moved up to the root. I think a block consisting of curly braces is a good indicator that the code is JS/CSS. Taking your example, I think the following reads really well:

![marko-syntax](https://cloud.githubusercontent.com/assets/978214/22354955/014cc216-e3e5-11e6-9b43-a97c41a33595.png)

[2017-01-26 23:47] patrick-steele-idem opened #548 "Switch from `<style lang="less">` to `style.less { }` for inline component styles"
We no longer want to hijack the standard HTML `<style>` tag to avoid confusion and future problems. Instead, we will use the following:

[code]

Or, with a specific CSS preprocessor language:

[code]

[2017-01-26 23:53] #548 closed

[2017-01-27 00:17] patrick-steele-idem opened #549 "Migrate from "data" to "input""
Marko has always had a special `data` variable that referenced the _input_ object to the template. Calling it `data` has lead to various inconsistencies. UI components have an `onInput(input)` method. In this case, the `input` argument refers to what becomes the `data` variable. Obviously the first parameter to `onInput()` can be named whatever, but `input` is a better fit. For better clarity and

[2017-01-27 00:18] #549 closed

[2017-01-27 03:23] mlrawlings commented on #547
☝️ @patrick-steele-idem That does look nice.

## Other thoughts

@mindeavor I understand that concern and I could probably be convinced to dial back some of the JS tags introduced in v4, specifically `class` (for non-component classes) and `function` and require them to be within a JS block where any JS is valid.

Beside the fact that I like the component's class definition at the top-level, I rea

[2017-01-27 03:46] mindeavor commented on #547
@mlrawlings I think dialing back the JS tags is a great solution. Having a minimal number of them makes me a lot more comfortable explaining and promoting the idea to others.

I think I agree with all your points in tandem; your example suits well with me. The only confusion I foresee is people trying to `import` or `require` within `static`, but good error messages should be able to mitigate.

Th

[2017-01-27 05:20] mlrawlings commented on #547
Totally fine.  I have some more thoughts to share on the stylistic front.  And would like your opinion on some of these things.

One _small_ issue I have with `static { ... }` is that it kinda seems as if the JS is scoped to that block, when in reality it's available throughout the template and even to the `class`.

If you look at the OP, `static` also supports an "inline" mode where you can have

[2017-01-27 15:25] jasonmacdonald opened #550 "Transclusion Scope on widgets"
This might be just me not fully understanding Widget scopes/states, or more likely it's working as intended, but if I have Widget (A) and Widget (B). Widget A uses Widget (B) in it's template and supplies some body content (template) for Widget B. The data scope is bound to Widget A for that body content and not Widget B (which actually renders it).

Example

Widget A Template - data = 1
[code]

W

[2017-01-27 15:29] jasonmacdonald commented on #550
I also tried using input.renderBody(out, WidgetB_data), inside WidgetB. But, that still seems to use WidgetA data.

[2017-01-27 17:30] mlrawlings commented on #550
I also want to point out that we add one more layer on top of this for the await tag.  The await tag is used like:

[code]

We transform this to the following in the [await transformer](https://github.com/marko-js/marko/blob/master/taglibs/async/await-tag-transformer.js#L28-L29):

[code]

Then `{"name-from-attribute":"_var"}` is specified in the [`marko.json`](https://github.com/marko-js/marko/blo

[2017-01-27 17:56] jasonmacdonald commented on #550
Thanks< mlrawlings! I'll give these a try!

[2017-01-27 18:16] jasonmacdonald commented on #550
I think I might have a snag, all this assumes I'm only rendering the transcluded content once. But what I'm trying to do is the transcluded content template as an itemRenderer for a loop, basically.

something like this (very simplified)

WIdget
[code]

TileList
[code]

Seems if I manually call input.bodyRenderer() it would just repeat the same content. Maybe I'm approaching this wrong. I'm just t

[2017-01-27 18:57] mlrawlings commented on #550
This should work:

[code]

[2017-01-27 20:16] jasonmacdonald commented on #550
oh, let me try that! You're the best, mlrawlings! Cheers! Wish I knew more of these secrets :)

[2017-01-27 20:41] jasonmacdonald commented on #550
Interesting. Marko doesn't seem to be parsing the for loop statement. WHen I look in the compiled file, it just leaves the forloop stuff untouched.

[code]

I'm sure I've missed something, again :) Is Marko Widgets using a different version of Marko?

[2017-01-27 21:01] mindeavor commented on #547
`static` one-liners seem good; the keyword conveys something different than plain JS is happening.

To be honest, I'm ok with drawing the line at `var` for JS tags, so long as documentation uses the `<var />` form to avoid any confusion. If someone opts for writing concise syntax, they'll know that they're only stripping away some angled bracket characters, as opposed to writing plain JS.

With th

[2017-01-27 21:22] jasonmacdonald commented on #550
Can Marko Widgets use Marko 4? NPM complains that Marko Widgets wants a Peer dependency for 3.0

[2017-01-27 23:25] mlrawlings commented on #550
Marko 4 includes widgets, so you don't need `marko-widgets` anymore

[2017-01-28 04:13] patrick-steele-idem commented on #547
@mindeavor Really appreciate your input on this. I do think we will end up in a good place and I think we all are in favor of reducing the number of special tags.

Agreed. Whichever syntax we finally settle on, it will be the same for both concise and HTML.

We internally polled some devs at eBay and the following seems to be the most popular:

![marko-component](https://cloud.githubusercontent.co

[2017-01-28 18:29] mindeavor commented on #547
Huh... I think I like it :)

[2017-01-28 18:31] mindeavor commented on #547
Would a backslash `\$` allow you to insert literal dollar sign characters?

[2017-01-28 18:42] patrick-steele-idem commented on #547
Yup, that's what I am thinking and that is what we allow if you need to escape placeholders.

If you are good with it, then I propose we move forward with `$ <code_block>` and `$${ <code_block> }`.

If anyone has any last minute objections please let us know!

/cc @austinkelleher @philidem @mlrawlings @Hesulan @Eldar-X

[2017-01-28 19:43] juliocanares opened #551 "<Select> is not working properly"
After choosing an option, I set the select value equal to the option value but it doesn’t select it.
even using the selected attribute in the option tag doesn't work.

here is what is happening

![](http://image.prntscr.com/image/3216aae82b344e9abe573c44734adefc.png)

[2017-01-28 20:03] #551 closed

[2017-01-28 22:43] greenkeeper[bot] opened #552 "An in-range update of express is breaking the build 🚨"
## Version **4.14.1** of [express](https://github.com/expressjs/express) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Fexpress-4.14.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      express
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-01-28 23:44] Eldar-X commented on #547
If we do, it will be a problem to put spaces after $ because most of our text editors can divide our code like this
[code]
Also i still think it should be at least for html version at least inside tags maybe like this
[code]

[2017-01-29 14:32] Hesulan commented on #547
@patrick-steele-idem The only problem I see is that the `$ ...` would be parsed as a tag name in concise, but as text in HTML. I would prefer either `<$></$>`, or making that concise-only (in HTML you'd probably want to use `$${ ... }` instead anyway).

Other than that I like this proposal. Though I do feel it's important to mark this as a breaking change, since anyone previously using something l

[2017-01-29 14:45] Hesulan commented on #547
Actually, now that I think about, I feel like it would be more intuitive if the behaviors of `$${ ... }` and `<% ... %>` were swapped (then `$${...}` would be a multi-line, multi-statement version of `${...}`), but that *might* be too much of a breaking change.

[2017-01-29 18:34] mikewoo200 commented on #547
1) When this moves forward, will the deprecate state be eternal? Or is there a timeline to remove the old syntax? People tend to stick to the old syntax until forced to change. Will there be a migration tool?
2) I guess this is not related to the syntax change, but is JS linting possible in JS embedded in marko file?
3) I prefer a syntax that permits parsing such that we can still write easy-to-re

[2017-01-29 18:47] Hesulan commented on #547
@mikewoo200
1. I'm not aware of anything in Marko that's ever been deprecated for too long without being removed, but with a change like this there will be plenty of deprecation notices. There will also be a migration tool sometime after v4 is released.

2. That would depend on whether the linter you're using supports linting only a section of the file. Alternatively, you could lint the entire res

[2017-01-29 19:03] mikewoo200 commented on #547
2. What's a good linter than supports linting only a section of the file? We wouldn't lint`.marko.js` because it's a generated file that we don't check into our app codebase.

[2017-01-29 19:13] patrick-steele-idem commented on #547
@mikewoo200 this past week I looked into what it would take to support linting of embedded JS inside Marko. We can do it in Atom very easily, but I think the main goal will be to ensure that the JavaScript is valid. In the future, when Marko supports source maps we can apply linting to the entire compiled output to catch problems such as undefined variables and unused variables (this cannot be don

[2017-01-29 20:39] mindeavor commented on #547
Here's another potential issue to discuss: Would any `$` enter "js mode", or does the `$` need to be the first non-whitespace character of its line?

[2017-01-29 21:01] mlrawlings commented on #547
That's the plan - first non workplace character, followed by a space

On Sun, Jan 29, 2017, 12:39 PM Gilbert <notifications@github.com> wrote:

[2017-01-29 21:03] patrick-steele-idem commented on #547
Both need to be at the start of the line or prefixed only by whitespace:

- Single line: `/^\s[$]\s/`
- Multiline `/^\s[$]{2}\{`

[2017-01-29 21:29] mikewoo200 commented on #547
@patrick-steele-idem, for "valid JS" linting (unused, undefined, etc.), what you mentioned would work. But for style linting (spaces, indents) in the template, what can we do?

[2017-01-29 21:40] patrick-steele-idem commented on #547
@mikewoo200

We could definitely come up with a way to enforce code style for embedded JS and Marko code as well. We'll probably need to explore that more after the v4 release.

[2017-01-30 13:12] jasonmacdonald commented on #550
oh, really? Well, is Marko 4 accessible from NPM?

[2017-01-30 14:15] juliocanares opened #553 "Components are being rendered with same id"
I am getting the same id for all my rendered components and if I wanna get the state for one of those it always gives me the same result.

![](http://i.imgur.com/cG8dmT0.png)

This is my code

### account-purchase component

[code]

[code]

### account-purchase-item component

[code]

[code]

[2017-01-30 15:03] jasonmacdonald commented on #550
ok, awesome. Got Marko 4 all set-up and things seems to be working, for the most part. One thing I can't seem to get to work anymore is the "var" part to add the extra variable to the renderBody.

I've tried adding it to the marko-taglib and also to the top of the component with...

[code]

BUt the compiled output doesn't seem to add the var anymore. I had it working in Marko 3. Did this part chan

[2017-01-30 15:27] jasonmacdonald commented on #550
ok, after some trial and error, I was able to get the "var" to appear in the compiled output, but only if I added a marko-tag.json file to the "Widget" component directory, along side my component.js and index.html. I used the following JSON

[code]

No clue if this is correct way though. We used to be able to add these in the component file using an exports.tag, but that doesn't seem to work anym

[2017-01-30 15:40] Hesulan commented on #547
@patrick-steele-idem I'm a little unclear on the exact behavior of `$${ ... }`. Is it the same as `<% ... %>`, or will you be able to `return` something from it to be inserted into the document? For example, would this:
[code]
do basically the same thing as `<div>${result}</div>`?

I'm also not sure that `$${ ... }` needs to be restricted to the beginning of the line. It makes perfect sense for `$

[2017-01-30 16:13] jasonmacdonald opened #554 ""Symbol()" used in compiled code for browser, not supported by IE - Marko v4"
Not sure if this is known, but I was testing a simple Marko 4 Widget in IE and it fails when trying to call new Symbol(). This doesn't appear to be supported in IE 11. As you can see [here ](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Symbol) Symbol isn't supported on any IE versions. Is this intended?

Is it expected that we need to pollyfill fill this?

[2017-01-30 16:16] jasonmacdonald commented on #554
Promise is also missing from compiled bundle. :(

[2017-01-30 16:39] steebchen opened #555 "Hot reloading not working with .html extension"
## New Feature

### Description
I am using .html files only with marko html in it, but that prevents me from using marko's hot reload.

Lines:
- v4: https://github.com/marko-js/marko/blob/master/hot-reload/index.js#L133
- v3: https://github.com/marko-js/marko/blob/v3/hot-reload/index.js#L128 (and maybe L136 too)

### Context
I know that it's probably recommended to use .marko.html but I would like

[2017-01-30 16:41] patrick-steele-idem commented on #554
@jasonmacdonald can you please point to the code? `Symbol()` should be used in browser code and all of our tests are running in a very older version of V8 that doesn't support `Symbol` so I would not expect `Symbol` to be used. Also, which JS module bundler are you using (Lasso, webpack, etc.)?

[2017-01-30 16:44] patrick-steele-idem commented on #555
Hey @steebchen, this is a duplicate of [Issue #363 - Auto hot reload for any extensions provided when installing the Node.js require hook](https://github.com/marko-js/marko/issues/363). Would you have any interest in working on this? At the moment, that issue is lower priority, but we do plan to have it resolved by the time of the final v4 release.

[2017-01-30 17:06] jasonmacdonald commented on #554
Here's the snippet where it appears...

[code]

[2017-01-30 17:09] jasonmacdonald commented on #554
Nope, looks like it's coming from widgets/utils.js

[2017-01-30 17:58] patrick-steele-idem commented on #554
There is a "widgets/util.js" and a "widgets/util-browser.js". We remap the former to the latter by putting a `browser` field in the `package.json` file: https://github.com/marko-js/marko/blob/44c38e74ad1a0c515ab96a05169f9c096678a3c2/widgets/package.json#L6

All JavaScript module bundlers (including Browserify, rollup, lasso, webpack, etc.) should respect the `browser` field. If you can provide a s

[2017-01-30 19:02] Hesulan commented on #553
Removing `onChange('purchaseSelected')` from the `account-purchase` template seems to fix this as a workaround.

I checked the v3 equivalent and it did the same thing, so this isn't a regression, but it does seem odd that attempting to assign event handlers to a nested widget from its parent template would interfere with ID assignment.

[2017-01-31 04:08] mlrawlings commented on #547
Copying thoughts from an internal discussion where we've decided `$ <code>` and `$ { <code> }` is the direction we're going to take.

----

So despite my initial reservations on `$ { ... }` I think this is the right approach.

It would only be allowed at the beginning of a line (`/\s*\$ \{/`):

[code]

Ambiguity has been the reasoning against this, but looking at it again, even without syntax high

[2017-01-31 12:34] jasonmacdonald commented on #554
I switched over to Webpack and the issue seems to have gone away. However, if I can find a few mins I'll put together a simple project to show the issue. I'll close this for now and update if I can put something together,

[2017-01-31 12:34] #554 closed

[2017-01-31 16:12] Hesulan commented on #547
@mlrawlings I like that, though I'm not sure what you mean by "special case `$` to *disallow* `$ { ... }`".

Here's my interpretation of the parser logic:
* If the tag name is `$`, immediately begin parsing as a multi-line expression (which also tracks `depth` within `{}`, `()`, and `[]` pairs)
* Continue until `char === "\n" && depth === 0` (end of line and we're not inside a pair of brackets)
*

[2017-01-31 17:19] mlrawlings commented on #547
@Hesulan What I meant is that the single line version, because we allow continuing, is also the multiline version.  So If we wanted to have a _different_ symbol (like `$$`) and didn't want the single `$` to allow multiline, it would take more work.

Your logic is pretty much how I implemented it: https://github.com/marko-js/htmljs-parser/commit/21958233e1c4c442e8e338dc14c537b813ffab2a#diff-61eec70

[2017-01-31 17:19] #547 closed

[2017-01-31 17:31] #552 closed

[2017-01-31 17:31] Hesulan commented on #554
@jasonmacdonald Just wanted to add, because you mentioned `Promise` not being bundled: Marko doesn't provide a Promise polyfill, and as far as I know the only parts of Marko that require a global `Promise` object are the AsyncStream's `.then()` and `.catch()` methods, and only if you choose to call them.

[2017-01-31 21:25] #553 closed

[2017-01-31 22:29] patrick-steele-idem commented on #550
@jasonmacdonald Adding the `marko-tag.json` file as you did is the correct thing to do. We'll revisit the docs for v4 to make things more clear. Since we are completely reworking the documentation I'm going to go ahead and close this issue. In the meantime, please let us know if you have any specific questions...happy to help.

[2017-01-31 22:29] #550 closed

[2017-01-31 22:31] steebchen commented on #555
Sorry for the duplicate, I should have searched for that. Will think of that, but I have no idea how marko works so I don't know whether I will fit into this. I have currently fixed it manually editing the file for now.

[2017-02-01 02:15] mindeavor opened #556 "[v4] `null` state properties not being watched"
## Bug Report

Might be related to #516

[code]

### Expected Behavior

On clicking the submit button, an error message should appear.

### Actual Behavior

Nothing appears. `this.state.error` is set correctly, but marko does not redraw.

<details><summary>Additional Info</summary>

### Your Environment

* Version used: a3a179da (I couldn't wait 😄 )
* Environment name and version: Chrome 55
* Oper

[2017-02-01 02:50] philidem commented on #556
I'll take a look at this tonight unless someone else is looking at it.

[2017-02-01 14:02] jsumners commented on #547
I'm late to the party, but I want to add my voice in support of *not* "concise" syntax. I do not think floating JS blocks are indicative enough of the code being associated with the template system. And as someone who abhors the "class" sugar, I'd be loath to use it solely for that reason. I would much rather see something like the following:

[code]

[2017-02-01 15:33] mindeavor commented on #547
@jsumners I also dislike classes in general. However, the *concept* of a class fits perfectly with what a marko component is, and the class syntax is now officially part of the JS language. In marko's case, a class is the best tool for the job.

As I understand it, the only "floating JS blocks" marko 4 will support are `class` and `import`. I think this is reasonable, especially since they are so

[2017-02-01 16:24] Hesulan commented on #547
@jsumners I don't completely disagree - it would be nice to have a more HTML-like syntax - but after digging through the compiler code and giving it a lot of thought I'm personally convinced in favor of `class`. Also keep in mind that `<class {} />` (or `<script> module.exports = ... </script>`) is really just a convenience to avoid writing a separate `component.js` for small, simple components.

[2017-02-01 18:35] patrick-steele-idem commented on #547
@Hesulan `static` supports a block:

[code]

[2017-02-01 18:42] Hesulan commented on #547
@patrick-steele-idem Yes, but could it fall back to parsing body-text if the block is omitted?
[code]
[code]

[2017-02-01 18:47] philidem commented on #556
I couldn't reproduce this issue in our test suite. Can you test your app again with `4.0.0-rc.11`?

Added test case:
https://github.com/marko-js/marko/commit/35517181e1e9602222b12bdfd7fb62767595c8d8

[2017-02-01 18:52] mindeavor commented on #556
It's still behaving the same on `rc.11`. Maybe the test is triggering a redraw programmatically?

[2017-02-01 18:54] philidem commented on #556
Thanks for checking agin.

It should be relying on the same implicit batching that happens in the web browser. I will try to run this same code in the browser to see if it works.

[2017-02-01 19:53] philidem commented on #556
@mindeavor I still wasn't able to reproduce this issue in a stand-alone project.

See https://github.com/philidem/marko-issue-556-state-error-null

Can you publish a repo that demonstrates the problem?

[2017-02-01 20:55] mindeavor commented on #556
So strange, it works in a standalone project for me too, but not my production app. I'm definitely using `rc.11`, and just tried `rm -rf node_modules/` to no avail. Something else must be happening...

[2017-02-01 21:53] mlrawlings commented on #547
Hmm... do we only do it for `static`, or everything?  This might be a bad path to go down...

[code]

[2017-02-01 22:00] #363 closed

[2017-02-01 22:01] mlrawlings commented on #555
@austinkelleher has completed the work for this and we'll publish a new release candidate soon

[2017-02-01 22:01] #555 closed

[2017-02-01 22:02] mlrawlings commented on #556
@mindeavor can you share your compiled template output?

[2017-02-01 22:15] Hesulan commented on #547
@mlrawlings I only meant for `<static>`, and only in the way that's already used by `<script marko-init>` (which `<static>` is replacing). It wouldn't make sense for `<class>`, and I really don't like hijacking tags like `<style>`.

[2017-02-01 22:59] mindeavor commented on #556
Aha, I deleted my `yarn.lock` and everything works again. I wonder which package was not getting updated...

[2017-02-01 23:00] patrick-steele-idem commented on #556
Who knows, but everything related should be in the main `marko` package. Closing issue since no longer a problem.

[2017-02-01 23:00] #556 closed

[2017-02-02 18:48] mlrawlings opened #558 "Deprecate var, invoke, assign"
With the new `$ <code>` syntax, we have a better way to add JS to a template and no longer need these tags.  We do want to make them available for the v3 -> v4 migration.  Should we just add a deprecation warning or split them out into a `marko-v3-compat` package?

[2017-02-02 18:50] mlrawlings opened #559 "class tag is used for components only"
The `class` tag currently supports creating a component when anonymous:
[code]
But creates a normal JS class when it has a name:
[code]

We want to remove the second functionality.  It will _always_ create a component's class and you can optionally name that class.

[2017-02-02 18:54] mlrawlings opened #560 "Error for unrecognized tags"
Currently, if you have a template with the following
[code]

The following HTML will be output:
[code]

We should instead throw an Error if the tag is not a standard HTML tag or has not been defined as a Marko custom tag.  This will help catch typos as well as users who might accidentally write concise style tags at the root when they meant text (or tried to write JS).

[2017-02-02 18:59] mlrawlings commented on #560
If you are using webcomponents, you will be able to list those tags in a `marko.json` file.

The Error message will contain helpful info.  Something like

"Marko does not recognize the <di> tag.  Did you mean <div>?  If you do want to output the <di> tag as HTML, you can whitelist it in your marko.json file. See https://markojs.com/docs/somepage for more info."

[2017-02-02 19:02] mlrawlings commented on #558
My preference would be to split them out so we're rid of them as v4 users, but it makes things a little tricky with sub packages that export tags because taglibs outside of Marko are not global.

[2017-02-02 19:05] mindeavor commented on #558
I think a migration package is a good idea. If one intends to move from v3 to v4, installing a package would be the least of those efforts.

What do you mean by sub packages that export tags?

[2017-02-02 19:06] jsumners commented on #560
An error should not be thrown -- https://html.spec.whatwg.org/multipage/scripting.html#custom-elements

[2017-02-02 19:11] patrick-steele-idem commented on #560
@jsumners see the comment from @mlrawlings above. The idea is that you would need to whitelist the custom elements by registering them in your project's `marko.json`:

_src/marko.json:_

[code]

It's a tradeoff, but I am in favor of catching problems earlier at compile-time.

[2017-02-02 19:15] jsumners commented on #560
That just goes back to the boilerplate issue I opened a while back -- https://github.com/lasso-js/lasso-marko/issues/3

Now, if the parser encounters `<my-awesome-element>...</y-awesome-element>` then it should certainly throw an error. But the author may be fully expecting `<my-awesome-element/>` to be dumped into the rendered HTML as-is.

[2017-02-02 19:21] patrick-steele-idem commented on #560
I suppose we could come up with a way for declaring non-standard tags as being tags that should passthrough. For example:

[code]

I'm not saying that is a good idea, but I am just through that out there. Personally, I think registering the tag in `marko.json` is a reasonable tradeoff since you also get autocompletion for free and better error checking and reporting at compile-time.

[2017-02-02 19:22] mlrawlings commented on #560
We do already throw errors for mismatched tags.  This may come up more in concise mode since the tag does not need to be repeated, but also in HTML when using the self-closing syntax.

I'm not sure this is a good idea, but we could have a global "off" switch for this behavior if there are users that are heavily using Custom Elements and don't wish to list them all.  If there was info about how to

[2017-02-02 19:24] mindeavor commented on #560
I think @jsumners has a point. It might only make sense to throw an error on a would-be concise tag.

My vote is for disabling concise mode by default (with exceptions for `class`, `import`, and `export`), and making it easy to enable it via a flag. That should solve most all confusion around syntax.

[2017-02-02 19:29] Hesulan commented on #560
I'm definitely against this being the default, but I would love to have this as an opt-*in* setting.

[2017-02-02 19:29] mlrawlings commented on #558
@mindeavor Say I am using a package with a taglib that is intended to be share across apps, let's call it `ui-components` and say one of the tags it exports is `<ui-carousel>`.

`ui-components` was developed against v3 and as such uses legacy widgets.  The way things currently stand with v4, these components should still be able to be used with a v4 app.

The problem in moving out to a package is

[2017-02-02 19:34] mlrawlings commented on #558
This really isn't an issue as we could use the not-really-documented [`taglibLookup.registerTaglib`](https://github.com/marko-js/marko/blob/master/compiler/index.js#L229-L234) to make it globally available.  But if there is any runtime code (which there isn't in this case) using that API can cause discoverability problems.

[2017-02-02 20:04] Hesulan commented on #558
@mlrawlings I think this really comes down to the developer knowing that using a v3 taglib in v4 can be tricky. These tags aren't the only breaking changes; The switch from `-` to `--` in concise comes to mind, along with several other edge-cases. Unless the parser and compiler can be switched into some sort of "legacy" mode whenever an outdated taglib is being loaded, I don't see any other way ar

[2017-02-02 20:29] mlrawlings commented on #558
@Hesulan We actually are using the parse in legacy mode in v3 and have a number of warnings, including the [switch from `-` to `--`](https://github.com/marko-js/htmljs-parser/blob/master/Parser.js#L1359-L1361).  The goal is to allow users to upgrade without any changes if there are no deprecation warnings in v3.

[2017-02-02 20:43] mindeavor commented on #558
This might be a crazy idea, but what about a `marko-v4-stepping-stone` package that enables v4 syntax for v3 and adds deprecation warnings for all the old stuff from v3?

[2017-02-02 21:03] jasonmacdonald opened #561 "getTemplateData not called with rc.12?"
I just switched from rc 8 to 12 and my widgets getTemplateData method is no longer being called in any of my widgets. Was this removed for some reason?

[2017-02-02 21:29] mlrawlings commented on #561
`getTemplateData` was necessary for v3 widgets because there was only `data` passed to the template and we needed some way to get `state` into the template as well as any input data you might have also needed.

In v4, your template receives an `input` variable (also aliased as `data` for compatibility) and a separate `state` variable is available to your template if you set `this.state` in your co

[2017-02-02 21:29] mlrawlings commented on #561
`getTemplateData` was technically part of the v3 style legacy widgets, but the code was so intermixed that you could still use certain legacy methods with the new components. That code has now been split out - is there still a need for it, or was it just surprising?

[2017-02-02 21:31] patrick-steele-idem commented on #561
I wouldn't recommend it, but you could do the following:

[code]

[2017-02-02 21:40] patrick-steele-idem commented on #560
I can definitely see how having many tags to whitelist would be annoying.  For example [aframe](https://aframe.io/docs/0.4.0/introduction/) has 20+ custom tags implemented as web components.  But if we allowed you to whitelist patterns (`<a-*>`) it wouldn't be too bad.

@Hesulan If we're doing this it needs to be the default as one of the big reasons for these kind of helpful error messages is to

[2017-02-02 21:43] mlrawlings commented on #560
I'm not convinced this is the right idea, but we could also only have the warning for tags names without dashes in their name.  Custom Elements [require hyphens in their names](https://www.w3.org/TR/custom-elements/#valid-custom-element-name) so we wouldn't catch those tags with this rule.

[2017-02-02 21:47] patrick-steele-idem commented on #560
When building a complex project you will often need to rename a UI component. It would be _really_ nice if you could recompile all of your templates to figure out exactly which UI components broke as a result of the name change. I'm strongly in favor of throwing an error when the Marko detects an unrecognized tag as long as we get the error message **perfect** (the developer should know exactly wh

[2017-02-02 21:57] mindeavor commented on #560
Sorry, I meant a global flag. Something like `require('marko/compiler').config({ conciseSyntax: true })`

[2017-02-02 21:58] patrick-steele-idem commented on #560
That won't work because the syntax highlighter would not have that context and do syntax highlighting independently.

[2017-02-02 22:06] mindeavor commented on #560
Can there not be two highlighter definitions? Sublime supports it, at least. Someone enabling `conciseSyntax: true` will know that they're opting into extra syntax, and that they'll want to change to the relevant highlighter if they want those niceties.

[2017-02-02 22:10] jasonmacdonald commented on #561
I have no problems with it being removed, just didn't realize it was, so it broke my code when I moved form rc 8 to 12. I couldn't tell if it was a bug or intended. I tried looking at the revisions, but couldn't make heads or tales of where the change actually happened. :)

I was only using it because the [Roadmap ](https://github.com/marko-js/marko/blob/master/ROADMAP.md) under heading **New widg

[2017-02-02 23:03] ramses0 commented on #560
Whitelisting tags is decent, but whitelisting tags b/c hopefully someday somebody will use concise-mode is making the wrong tradeoff in my mind.  Disable concise-mode by default.  All (most) issues with top-level tags magically go away  (eg: the following gem `ex0007.marko`).  Tags are tags.  `<for>` is `<for>` (and is wrapped in a tag, not a bareword).  It is a *serious* struggle to get behind "f

[2017-02-02 23:23] Hesulan commented on #560
@mindeavor @ramses0 How would disabling concise mode actually solve the problem being discussed, which is whether to throw an error when an invalid tag is encountered? I understand that you don't like the syntax, but many of us do and are using it in production.

[2017-02-02 23:23] ramses0 commented on #558
As a recreational user of marko v3 transitioning to v4, I am 100% in favor of "kill stuff that's going to die" (ie: `var`, etc).  `npm install markojs-v3-deprecated` is totally fine by me.

I *will* say that I am especially disappointed by the removal of the `<var>...</var>` special tag.

Conceptually being able to scope my sins of using `<var/>` in my logicless templates in the first place is inv

[2017-02-02 23:33] ramses0 commented on #560
@Hesulan - root level text is terrible.  My vote is for putting it into a <div>.  It is especially terrible when "for he's a jolly good fellow" gets parsed as a `<for ...` tag by marko.  However, "concise mode" has to treat every word in the file as if it _might_ be a tag (or `class` or `static` or `import` or whatever else exists in the global marko keyword namespace).  As someone who doesn't use

[2017-02-02 23:55] mindeavor commented on #560
@Hesulan I don't dislike concise mode per se; I only point out that supporting both concise and normal syntax *at the same time* is the root of all these problems. If concise were opt-in, all the pitfalls disappear.

[2017-02-02 23:59] Hesulan commented on #560
@ramses0
You have a point, root level text is definitely a downside. But it's also easily solved with a `-- `, and aside from a "Hello World!" file, it would be difficult to find many real world use-cases.

Single-file components are still entirely optional, they're just more convenient than writing a separate `component.js` when working with small, simple components. The only component-related th

[2017-02-03 00:12] Hesulan commented on #560
@mindeavor I'm still unclear on *how* disabling concise syntax would solve the problem, or how it's at the root of it.

[2017-02-03 01:24] mindeavor commented on #560
If concise were disabled, @ramses0's examples of surprises would no longer be surprising; they would do what you'd expect in any HTML document.

[code]

[2017-02-03 04:34] seangates commented on #560
+1 for throwing an error. Many complex projects rely on knowing when there is an issue with an unknown or incorrect tag.

[2017-02-03 04:55] Hesulan commented on #560
@mindeavor I'm not sure what that has to do with throwing errors for invalid tag names, and those are all just different examples of the same thing - plain text as a root element.

@patrick-steele-idem On further thought, I think I would agree with throwing errors by default, as long as it's easy to disable and clearly documented.

[2017-02-03 05:39] Hesulan commented on #558
@ramses0 I believe the main reason for deprecating `<var>`, `<assign>`, `<invoke>`, etc. is because the number of tags that attempt to simulate real javascript was becoming unmanageable, but you make a good point.

@mlrawlings Perhaps it would be a good idea to hold off on removing the `<var>` tag? I feel like it's enough of a special case to warrant keeping it around, especially since it fits eac

[2017-02-03 06:28] mlrawlings commented on #560
@Hesulan As clarification, the idea for this originally stemmed from the discussing we (@mindeavor , @ramses0 and I) had on how to reduce any confusion around syntax, specifically concise syntax at the root, but I think it has enough merit to stand on its own.

That it would throw an error for unintentional concise tags at the root is only one benefit.

[2017-02-03 06:49] mlrawlings commented on #560
Related to this, Patrick and I are looking at creating a "standard" of sort that could be adopted by web component libraries to make their custom tags visible to tooling.

Marko's autocomplete in Atom was originally forked from [`autocomplete-html`](https://github.com/atom/autocomplete-html) and it was extended to autocomplete not just HTML elements, but also Marko custom tags that were discovered

[2017-02-03 10:43] austinkelleher commented on #560
Great idea. I fully support that.

[2017-02-03 17:13] mindeavor commented on #558
Oh interesting, I didn't know `<var>` could use body text like that. Is that scope actually enforced?

[2017-02-03 17:25] mindeavor commented on #560
@Hesulan Saving people from root-level text is the whole point of this thread, isn't it?

[2017-02-03 17:44] Hesulan commented on #558
@mindeavor Internally, a `<var>` tag with body text compiles to an IIFE, which enforces scope:
[code]
[code]

[2017-02-03 18:24] Hesulan commented on #560
@mindeavor Ah, I see what you meant now. That's not the point though, the point is to catch invalid tag names. Root level text in concise mode is just one of the *many* ways that a typo could slip past, and to simply disable such a widely used feature by default would be a huge overreaction and wouldn't solve the problem of invalid tag names. Catching accidental root-level concise tags is only a n

[2017-02-03 19:02] mindeavor commented on #558
Let's be honest here: We don't get PHP simply because of `<? ?>` tags. Unless you consider Ruby on Rails and ERB to be PHP as well!

I do find the `<var x=10>...</var>` feature interesting. To avoid potential confusion with JS, maybe you could rename it to something like `<scoped x=10>`, for those who want that feature.

[2017-02-03 19:10] mindeavor commented on #560
@Hesulan I know the goal is to prevent typos, but the only reason this came up is because of concise mode. After all, **any** custom element tag is valid HTML.

In *principle* there should be no errors thrown, because an unknown tag is 100% valid in the browser. However, in *practice* I don't feel that strongly about it, and wouldn't mind if these errors made it in.

Actually, this just dawned on

[2017-02-03 20:23] Hesulan commented on #560
@mindeavor From what I understood, the reason this came up is because if you type something like `<ing ... />` it's quite likely that you *meant* to type `<img ... />` unless you've explicitly defined a custom `ing` tag. Throwing an error would *also* help to catch accidental concise tags. I honestly can't remember the last time I even used root-level text outside of a Hello World example, but I c

[2017-02-03 23:45] greenkeeper[bot] opened #563 "An in-range update of browser-refresh is breaking the build 🚨"
## Version **1.7.1** of [browser-refresh](https://github.com/patrick-steele-idem/browser-refresh) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Fbrowser-refresh-1.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browser-refresh
    </td>
  </t

[2017-02-04 01:36] mindeavor commented on #560
oops, I totally missed his comment on that :)

[2017-02-04 17:39] greenkeeper[bot] opened #564 "An in-range update of jsdom is breaking the build 🚨"
## Version **9.10.0** of [jsdom](https://github.com/tmpvar/jsdom) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Fjsdom-9.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jsdom
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-02-04 18:05] mlrawlings commented on #563
CI failed because `api (compiler) autotest [compileFileForBrowser-callback.js]` timed out - unrelated to the new version of `browser-refresh`.

[2017-02-04 18:05] #563 closed

[2017-02-04 18:06] mlrawlings commented on #564
CI failed because `api (compiler) autotest [compileFileForBrowser-callback.js]` timed out - unrelated to the new version of `jsdom`.

[2017-02-04 18:06] #564 closed

[2017-02-04 20:17] mlrawlings commented on #560
I still think starting with all is a sane default and the Error message would point you to information on how to configure things:

### Configuring in `marko.json`

Throw on any unrecognized tag (default value):
[code]

Turn off errors/warnings:
[code]

Turn off errors for tags with dashes:
[code]

Turn off errors for certain tags from polymer:
[code]

### Defining individual tags in `html-element

[2017-02-04 20:46] ramses0 commented on #560
@mlrawlings would you be in favor of splitting out the potential discussion: "require concise mode to be explicitly opted in to"?

I believe it would require:

[code]

...which makes total sense to me.  Or a flag to explicitly opt out of the potential bugginess / confusion of mixing concise-mode, markojs single file components, javascript, and HTML?  I keep hearing `--` is the magic token, but hav

[2017-02-06 12:29] #561 closed

[2017-02-06 12:40] jasonmacdonald commented on #559
Hope I'm not hi-jacking the thread here, but on the topic of Classes, it seems you cannot use the extend keyword. If I make a component using a class that extends another class, it fails due to a instance check "_classCallCheck" where the instance is the Widget class, but it's checking for the Constructor of the parent. I get a failure of "cannot call a class as a function". This _seems_ to be cau

[2017-02-06 16:41] Hesulan commented on #559
@jasonmacdonald Michael was talking about the `<class { ... } />` tag. None of the code generated by Marko currently compiles to anything greater than ES5, and javascript classes are ES6. Could babel be trying to compile the `.marko` template by mistake?

[2017-02-06 17:13] jasonmacdonald commented on #559
For sure it's Babel compiling the es6 classes. I'm trying to use a class as my component definition. But, it seems to be Marko that is adding the _classCallCheck to the compiled component definition.

[2017-02-06 17:38] Hesulan commented on #559
@jasonmacdonald I'm not quite sure what you mean, but using a class as a component definition is invalid. The `<class { ... } />` tag mentioned here is just a convenient syntax (with a bit of a misleading name), it doesn't *actually* generate an instantiable class.

[2017-02-06 17:54] mindeavor opened #565 "[v4] Empty class tag needed for stateless component"
## Bug Report

Feel free to close if this is intentional.

When creating a component that relies solely on `input`, an empty `class {}` is needed if one wants to bubble events.

For example:

[code]
<details><summary>Additional Info</summary>

### Your Environment

* Version used: rc.12

### Stack Trace

[code]

</details>

[2017-02-06 18:05] jasonmacdonald commented on #559
Sorry if I'm not being clear. I'm talking about Marko 4 widgets, defining a widget component using an ES6 Class instead of an Object. I'll start a different thread as this one isn't what I thought it was. Thanks!

[2017-02-07 05:47] mindeavor opened #566 "[v4] Marko translates `null` to `undefined` when setting state"
## Bug Report

If you set `this.state.x = null`, then it actually gets set to `undefined` instead.

### Context

[code]

### Expected Behavior

Clicking "Make me null" should display `"null"` on the page.

### Actual Behavior

Clicking "Make me null" displays an empty string instead (the result of interpolating `undefined`)

<details><summary>Additional Info</summary>

### Your Environment

* Vers

[2017-02-07 06:23] patrick-steele-idem commented on #566
Marko intentionally normalizes `null` to be `undefined` when assigning a value to a state property: https://github.com/marko-js/marko/blob/ffdc91382fb41484585b60ea98f840d3f8f5b25f/widgets/State.js#L68-L71

There's also the caveat that state properties with a value of `undefined` get serialized down to the browser with a value of `null` since properties with a value of `undefined` are not serialize

[2017-02-07 18:19] mindeavor commented on #566
My use case was importing a function that returns `string | null`:

[code]

And later...

    this.state.grade = gradePassword(this.state.password)

Naturally I used triple-equals to compare the result, i.e. `<if( state.grade === null )> ... </if>`. It was quite a surprise to find the condition fail to pass.

I think it's fine and makes sense to require a non-undefined state value to serialize to

[2017-02-08 00:59] mindeavor opened #568 "[v4] Pass [input,out] to onCreate/constructor lifecycle method"
## New Feature

Following up on [this thread](https://github.com/marko-js/marko/issues/546#issuecomment-274704445), it would be nice to have a lifecycle method that runs once and receives `input` in order to construct the component's initial state.

### Context

Currently the way to set initial state is this:

[code]

But the problem is `onInput` runs more than once – once when the component is co

[2017-02-08 07:34] patrick-steele-idem opened #569 "[v4] New feature: on-attach/on-detach (bonus feature!)"
It would be nice to be able to animate elements in and out of the DOM. For example:

[code]

[2017-02-08 07:43] #569 closed

[2017-02-08 07:54] patrick-steele-idem opened #570 "[v4] Rename "ref" to "key""
Currently, Marko supports "scoped IDs" in the form of a "ref":

[code]

A nested element/widget can be looked up by a ref:

[code]

A "ref" attribute results in an ID attribute being assigned to the final element. For example:

[code]

[morphdom](https://github.com/patrick-steele-idem/morphdom) uses the "id" attribute as a "key" to match up elements during a diff/patch. Therefore, marko is using t

[2017-02-08 13:33] austinkelleher commented on #570
I think this is a good change.

[2017-02-08 14:59] Hesulan commented on #570
I do think "key" is a more accurate description, though I'm not entirely convinced the change is necessary. My only major concern would be possible naming collisions - I can think of plenty of other uses for a custom "key" attribute, but not very many for "ref", which has always been pretty much reserved for widgets anyway. That's not to say I disagree, but I'd like to hear a few more pro's and co

[2017-02-08 17:09] mindeavor commented on #570
Does using a `ref` prevent the element from being messed with during a redraw?

[2017-02-08 17:24] patrick-steele-idem commented on #570
@Hesulan For better or worse, React and all of the React variants have already hijacked the "key" attribute: https://facebook.github.io/react/docs/lists-and-keys.html#keys

The `key` attribute that we are proposing for Marko would serve the exact same purpose as developers are used to with React. The only difference is that we would also be using the `key` attribute to allow an element/widget to b

[2017-02-08 17:25] patrick-steele-idem commented on #570
Also, just to be clear, this would be a simple internal rename from `ref` to `key`. It would require minimal code change (although we would have to go fix all of the tests and sample apps :/ ).

[2017-02-08 17:36] Hesulan commented on #570
Ah, forgot about React. I'd say those are pretty good reasons to make the switch.

[2017-02-08 17:44] patrick-steele-idem commented on #570
Thanks for taking this on @austinkelleher ! We want to show a deprecation warning initially and publish a new `rc` release. We will completely remove support for `ref` and the deprecation warnings when we do the final v4 release.

[2017-02-09 03:56] #560 closed

[2017-02-09 04:06] #487 closed

[2017-02-09 04:24] #570 closed

[2017-02-09 05:51] #568 closed

[2017-02-09 05:57] patrick-steele-idem commented on #565
This is the expected behavior. I think adding a `class {}` makes the intent clear even if it is just empty.

[2017-02-09 05:57] #565 closed

[2017-02-09 06:29] #566 closed

[2017-02-09 06:54] #559 closed

[2017-02-09 06:55] patrick-steele-idem commented on #558
Fixed by https://github.com/marko-js/marko/commit/768d8085f7adc8811e027ec7a88cae682a703a9e (thank you @austinkelleher !)

[2017-02-09 06:55] #558 closed

[2017-02-09 07:14] #459 closed

[2017-02-09 07:15] patrick-steele-idem commented on #384
No longer an issue. Closing.

[2017-02-09 07:15] #384 closed

[2017-02-09 07:16] greenkeeper[bot] opened #573 "An in-range update of deresolve is breaking the build 🚨"
## Version **1.1.2** of [deresolve](https://github.com/patrick-steele-idem/deresolve) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Fderesolve-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      deresolve
    </td>
  </tr>
  <tr>
    <th align=

[2017-02-09 07:30] #504 closed

[2017-02-09 12:42] tinovyatkin opened #574 "[v4.rc13] Unrecognized tag: picture"
Compilation broken with error `Unrecognized tag: picture` while `picture` is certainly a standard HTML5 tag

[2017-02-09 12:56] austinkelleher commented on #574
Thanks for reporting this issue. This is a result of: https://github.com/marko-js/marko/issues/560. I will have a fix up soon.

[2017-02-09 13:11] #574 closed

[2017-02-09 13:11] austinkelleher commented on #574
This should be fixed now. A new version should be published later today.

[2017-02-09 16:09] mindeavor commented on #560
For the record, I now believe this was the right choice. After upgrading to rc.13, marko immediately informed me about two invalid tags that I forgot to change during a rename! 😄

[2017-02-09 17:04] patrick-steele-idem commented on #560
@mindeavor I experienced the same thing. We had some tests that were incorrectly referring to unregistered tags. I'm not very impressed with the Github Wiki system, but we decided to put details on errors in the Wiki: https://github.com/marko-js/marko/wiki/Error%3A-Unrecognized-Tag

Please let us know if you see any issues!

[2017-02-09 17:17] ramses0 commented on #558
Will there be (or is there) a way within marko to trigger an IIFE context for scope protection, as referenced in this comment?

https://github.com/marko-js/marko/issues/558#issuecomment-277313323

[2017-02-09 17:54] patrick-steele-idem commented on #558
The scoped variables use case is interesting. I'm not opposed to introducing something to support that use case, but I am not convinced `<var>...</var>` was the best solution. @ramses0, what are your thoughts on the following? :

[code]

[2017-02-09 20:47] tinovyatkin opened #576 "invoke self-deprecation warning"
[code]

note the module where it happens...

[2017-02-09 21:03] gilbert opened #577 "[v4] Consider renaming `for` to `each`"
When users see `<for(var x in xs)>`, they think it's native JavaScript and try to do fancy ES6 stuff like destructuring.

Here's an actual attempt:

    <for(const [airport, { area, name, pos: { lat, lng } }] of Object.entries(geo.airports))>

I have two suggestions (not mutually-exclusive):

1. Rename `for` to `each` to avoid confusion
2. Give `for` native JS code support

This would be the last

[2017-02-09 21:48] tinovyatkin opened #578 "Create a tag for data.renderBody(out);"
Hello,

While refactoring for `rc14` I realise that new syntax for `data.renderBody` invocation must be like this:

[code]
That's not looks very good inside a HTML like template. May be it's better to create a dedicated tag like `<tag-body-out />` for that purpose? It will be rendering for nothing or body... Simple and elegant?

[2017-02-10 00:58] tinovyatkin opened #579 "$escapeXml is not defined"
Badly (confusing) written code result in even more confusing error message:

Code:
[code]
error:
[code]
Rewriting the code above without using enclosed template literal fixes the problem:
[code]

[2017-02-10 02:22] greenkeeper[bot] opened #580 "An in-range update of lasso is breaking the build 🚨"
## Version **2.11.0** of [lasso](https://github.com/lasso-js/lasso) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/marko-js/marko/compare/greenkeeper%2Flasso-2.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lasso
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-02-10 02:42] yomed opened #581 "include-html content is not minified"
## Bug Report
(Marko v3) I am currently including an SVG file via `<inlclude-html("./icon.svg")/>`. All other markup on the page is minified correctly since it is generated that way through the compiled templates, but content from `include-html` is output verbatim with whitespace.

### Expected Behavior
HTML included via `include-html` should be minified.

### Actual Behavior
HTML included via `in

[2017-02-10 03:35] ramses0 commented on #558
<scope/> is elegantly nasty in a way.  :-) ... it makes it very clear what you're doing, but still requires you to use `$ ...` but then you know your `$ ...`'s can't infect outside that `<scope>` block.  I guess I'm highly in favor of it... good design instinct.  "it would be nice" if there was a setting to emit a warning of something like the following:

[code]

ie: encourage `$` items to be in b

[2017-02-10 04:32] mlrawlings commented on #578
Good news: can already use the `include` tag for this

[code]

Include actually looks for a `renderBody` property if its an object, so this works as well:
[code]

[2017-02-10 04:32] #578 closed

[2017-02-10 04:41] tinovyatkin commented on #578
is `data` deprecated too and we should use `input` instead?

[2017-02-10 04:45] mlrawlings commented on #578
Yeah, but `data` isn't going anywhere anytime soon and we won't be adding deprecation warnings for it right away either.

[2017-02-10 04:46] mlrawlings commented on #578
But all the docs for Marko 4.0 will reference `input`

[2017-02-10 18:59] patrick-steele-idem opened #582 "[v4] Introduce forceUpdate()"
`forceUpdate()` can be helpful as shown in the following code:

[code]

[2017-02-10 19:04] #582 closed

[2017-02-11 19:35] drewfish commented on #421
In marko@4.0.0-rc.17 it appears that in `onMount()`, `this.el` is the first element and `this.els` is all top-level elements (when there are multiple top-level elements).

[2017-02-13 20:09] jasonmacdonald opened #583 "[v4] Include tag with arguements doesn't pass arguments unless followed by another tag"
I've noticed that when using the <include> tag in Marko 4, the custom arguments are not passed unless I follow the tag with another HTML element.

[code]

will generate the following compiled code

[code]

The _arg property is filled with *widget*

But if I include a BR tag after like so

[code]

I get the expected compiled code

[code]

[2017-02-13 20:15] mlrawlings opened #584 "Browserify support for dependency metadata"

[2017-02-13 20:16] mlrawlings opened #585 "Webpack support for dependency metadata"

[2017-02-13 21:29] #583 closed

[2017-02-13 21:42] mlrawlings commented on #580
Fixed with `lasso@2.11.1`

[2017-02-13 21:42] #580 closed

[2017-02-13 21:52] mlrawlings commented on #576
@tinovyatkin Can you provide more details?  When running the tests the file/line shows up correctly.

[code]

Is the `<invoke>` node being added dynamically somehow?

[2017-02-13 22:42] jasonmacdonald opened #586 "[v4] virtualizeHTML requires the document.body be loaded"
Ran into this issue in IE where adding $!{htmlText} in a template, and rendering that template (not appending it), you can run into a condition where "doc.body" is undefined because IE has not yet loaded the body yet. Essentially, this means you cannot do any template rendering before the document is loaded. Seems to be fine in Chrome, or at least I was not able to replicate it.

This is the speci

[2017-02-14 16:42] smulder opened #587 "non-breaking spaces (& n b s p;) don't render correctly in v4 templates"
## Bug Report

### Context
placing non-breaking space (`&nbsp;`) in a template element renders out as `Â` on the browser (VDOM).

### Expected Behavior
should render simply as (`&nbsp;`)

### Actual Behavior
renders as `Â`.

<details><summary>Additional Info</summary>

[code]

VDOM

[code]
</details>

[2017-02-14 16:51] patrick-steele-idem commented on #587
Thanks for opening this bug report @smulder. We'll take a look.

[2017-02-15 02:47] mlrawlings opened #588 "Warn if no <body> was rendered and client-reorder or widgets exist"

[2017-02-16 00:20] mindeavor commented on #221
For the record, adding `onclick: pointer;` to the style of your element causes Safari to trigger a click event when you touch it on mobile.

[2017-02-16 14:52] Hesulan commented on #581
The "minification" of Marko templates is only a side-effect of the way it renders from an AST. The `include-html` tag is designed to guarantee that the raw file content is copied directly into the output without any transformation. In other words, this is working as intended.

Marko does not contain a minifier, and even if it did it would be dangerous to assume that the included file's content is

[2017-02-16 16:00] yomed commented on #581
@Hesulan Thanks, I am aware that templates are "minified" through compilation. Since the actual outcome is that all HTML is minified, it seems reasonable from a product perspective that content in `include-html` would be minified as well. Since content included that way is already assumed to be HTML, I don't think it would be dangerous to minify conservatively.

`include-html` was introduced becau

[2017-02-21 03:13] patrick-steele-idem opened #589 "Dynamic top-level HTML elements for a UI component are not handled properly"
Need to either add an error message or make changes to support dynamic top-level HTML elements.

[2017-02-21 03:16] patrick-steele-idem opened #590 "Support for scoped JavaScript variables"
Marko v3 supports scoped vars:

[code]

We moved from `<var>` to `$ var` and need to rethink support for scoped variables in Marko v4.

[2017-02-21 03:17] patrick-steele-idem commented on #590
/cc @ramses0

[2017-02-21 03:17] patrick-steele-idem commented on #589
/cc @ramses0

[2017-02-21 03:21] ramses0 commented on #590
Strawman argument was for:

[code]

...compiling to an IIFE for scope protection, and using `$ ...` for JS execution.

Rationale is that a dangling `$ var x = ...` at the top of a file could have spooky action at a distance towards the bottom of the file, but if it were captured in some sort of `<scope> ...` block then the area required to analyze is much smaller.

[2017-02-21 22:29] patrick-steele-idem opened #591 "[v4] "widgets" to "components" (breaking change)"
Sorry folks, but we have another late stage breaking change to Marko v4 that we feel is needed. The concept of "widgets" has a long history with Marko, but we are moving to calling everything "components" for much better consistency. For the most part this an internal change, but there are a few things that you need to be aware of that will break when we make the change as part of the next release

[2017-02-21 23:21] #591 closed

[2017-02-22 07:11] npadhya opened #592 "Unexpected strict mode reserved word error happening today [Working till yesterday]"
let templateSrc = fs.readFileSync(filename, {encoding: 'utf8'});
^^^
SyntaxError: Unexpected strict mode reserved word
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymo

[2017-02-22 07:27] #592 closed

[2017-02-22 07:27] npadhya commented on #592
Wrong node version

[2017-02-22 08:15] austinkelleher opened #593 "Add additional properties to Scriptlet class"
Right now, we have no way of determining whether a scriptlet is a legacy scriptlet or not from marko-prettyprint. We need to know this information to handle each type independently e.g.:

[code]
vs.

[code]

[2017-02-22 16:04] nicolashery commented on #325
@patrick-steele-idem @mlrawlings I haven't gotten a change to explore this much, but I saw that Marko v4 is just around the corner (congratz btw! 😄). I definitely don't expect this to make it to v4, but I did want to see if there were any changes in v4 that would make it hard to add TypeScript support in the future (should we want to of course), without any breaking changes.

I've quickly put this

[2017-02-22 17:14] #576 closed

[2017-02-22 17:18] mindeavor commented on #325
I think this will be possible once the changes here are hashed out: https://github.com/Microsoft/TypeScript/issues/6508 . They are solving some angular-2-specific problems that should also make it easier to typecheck `.marko` files, since they are pretty similar in structure.

[2017-02-22 18:18] nicolashery commented on #325
Thanks @mindeavor, I hadn't seen that. From skimming through it, I think this will help with the question of editor integration (ex: [VSCode Angular Language Service](https://github.com/angular/vscode-ng-language-service)). I looks like it's been open for a while though.

What I had in mind as a first step is more along the lines of [Angular's Ahead of Time (AOT) compilation](https://angular.io/do

[2017-02-22 18:27] #593 closed

[2017-02-22 22:47] mindeavor opened #595 "[v4] Data binding for select tag bug"
## Bug Report

This could be a morphdom issue.

### Context

[code]

### Expected Behavior

The `<select>` should initialize with the `blue` option selected. On setting `state.color` (such as clicking one of the two buttons), the selected option should update accordingly.

### Actual Behavior

The `<select>` initializes with the first option. When setting `state.color`, the select resets to a blan

[2017-02-22 23:08] patrick-steele-idem commented on #595
Looks to be not a bug in marko. `value` is not a standard HTML attribute on the `<select>` element. Instead, you should be doing the following:

[code]

[2017-02-22 23:08] #595 closed

[2017-02-22 23:14] mlrawlings opened #596 "Attach event listeners to additional documents"
When rendering to an iframe, event listener's are not attached for the iframe's content document.

[2017-02-22 23:17] mlrawlings commented on #596
closed via https://github.com/marko-js/marko/commit/6064c8d4adcc219358c88a10b60671692f22da2b

[2017-02-22 23:17] #596 closed

[2017-02-23 00:20] mindeavor commented on #595
It's true that it's not a standard tag, but neither is `on-change`, is it? :)

I expect `<select>` to behave in this manner because running `mySelectDomElement.value = 'blue'` will in fact update the `<select>` tag to select the correct option.

The `value` attribute in React.js and Mithril.js behaves in this way. Angular and Vue allow you to do their model binding directly on the `<select>` tag.

[2017-02-23 16:41] westtrade commented on #504
I just tried to reuse server templates on client side. I find another way how can i do it - with components, but... i think it will be very nice feature - if rendering for client can omit doctype tag in server template and compile only head and body. And as for me it will be very coolest if template can override styles and title of document)

[2017-02-23 21:50] patrick-steele-idem commented on #595
@mindeavor We did discuss the idea of making this work after reviewing your bug report. And, while we could make it work it would add a decent amount of complexity and I'm not seeing a strong need for it. Specifically, we would need to special case the rendering of all `<option>` elements to control how the `selected` attribute gets set based on the `value` attribute on a parent `<select>` element

[2017-02-24 04:30] mauricionr commented on #585
+1

[2017-02-24 04:33] mauricionr commented on #577
Or could be more vue like

for((key, value) in data)//object

And

for(item in data)//array

Thanks :)

[2017-02-24 12:51] mauricionr opened #597 "[Question] Best practice guide for production?"
## Question

I'm using marko and is awesome

My question is, there's any Best Practice guide for production enviroment?

Thanks guys!

[2017-02-24 16:07] Hesulan commented on #597
For client-side, see #490; The documentation is still a work-in-progress. Patrick mentioned using `minprops` and `envify` to reduce code size, but you should really just follow the standard best practices for *all* client-side code: Minify, gzip, and cache responsibly. How you actually *do* that depends on your other libraries and frameworks - `express`, `lasso`, etc.

Server-side, the only recomm

[2017-02-24 16:14] patrick-steele-idem commented on #597
Thanks for the feedback @mauricionr !

Just to add to what @Hesulan said, minification and [minprops](https://github.com/mlrawlings/minprops) (not yet documented) are the only two things that are strongly recommended for production builds. But yes, we will be publishing a guide for production builds. I'll keep this issue open as a reminder. Thanks, again!

[2017-02-24 16:54] Hesulan opened #598 "Components no longer automatically add `index.marko` as a client-side dependency."
In `rc.17` and earlier, Marko would automatically add a widget's `index.marko` to the internal dependency array if needed. As of `rc.20`, the `<class { ... } />` tag adds the `index.marko` to the dependency list as expected, but if a `component.js` or `component-browser.js` is used instead then it will add that to the dependencies, but *not* the corresponding `index.marko`.

[2017-02-24 19:17] patrick-steele-idem opened #599 "[v4] Bug: when rerendering, custom events may not be attached correctly when reusing components"

[2017-02-24 19:19] #599 closed

[2017-02-24 20:18] #598 closed

[2017-02-24 20:35] mlrawlings commented on #598
@Hesulan Thanks for reporting! `marko@4.0.0-rc.21` has been published with the fix

[2017-02-24 20:44] Hesulan commented on #598
@mlrawlings Looks like a `console.log` slipped through, and it's not marked as `latest-beta`. But other than that it works! :)

[2017-02-24 21:38] mindeavor commented on #595
Makes sense, thanks for looking into it 👍

[2017-02-24 23:15] mauricionr opened #600 "[Question] Await chain like promise chain"
I got an situation here.

My team is using `await` in a page that we need to handle more then one Promise
They tried to use something like this

[code]

They said to me they got some errors with nested `await` and i was thinking in two solutions for this scenario

I was thinking about wrap the Promises in an especifc provider and use `Promise.all(requests)`

or create a custom tag like this one `<

[2017-02-24 23:52] mlrawlings commented on #600
You should be able to nest `<await>` tags, but if you can run them in parallel, that's better to do anyway.  I believe `Promise.all` is your best bet.

[2017-02-25 04:11] mauricionr commented on #600
[code]

i will test this!

[2017-02-25 05:09] mindeavor commented on #528
Checking in again – that first bullet point would be very handy in small components and demos :)

[2017-02-25 15:50] mauricionr commented on #600
Here's my demo/test about this issue

https://github.com/mauricionr/marko-demo

[code]

the service

[code]
the controller

[code]

the view

[code]

Works well :rocket:

But i could not see the *Loading data* and i'm using the tag `await-placeholder`

Since i'm using `json-server` to fake and json api, i put an timeout to looks like the real world and could not see the loading.

Any guess?

[2017-02-25 16:40] StarpTech commented on #600
Correct If iam wrong but you can only see it If you enable `client-reorder` for the await tag.

[2017-02-25 18:35] patrick-steele-idem opened #601 "[v4] expose component instance as a variable in the marko template"
With Marko v4, we now create an instance of the UI component when rendering a UI component, but the UI component instance is not publicly exposed so it is not possible to call instance methods in the marko template code. This proposal introduces a new `component` variable that can be used to reference the UI component instance as shown below:

[code]

Thoughts? Concerns?

👍  or 👎  ?

/cc @mlrawlin

[2017-02-25 18:46] ramses0 commented on #601
Biggest reason for this is parity with `onClick` which has access to the full data/state/input context.

index.marko-current
[code]

component.js:
[code]

Compare the `-current` and `-proposed` convenience, debuggability, consistency, etc.

For some (many?) functions, eventually those component functions may move to a more structured project lib, but during initial development, having all function

[2017-02-25 18:47] patrick-steele-idem commented on #601
Just to be clear @ramses0, you are in favor of this proposal as-is, correct?

[2017-02-25 19:01] ramses0 commented on #601
Yep... just pointing out why it's an improvement over the current options / alternatives.

`${ component.getFullName() }` would make me very happy. :-)

[2017-02-25 20:21] mindeavor commented on #601
I think it makes sense to have as an option, and see no harm in adding it.

[2017-02-25 20:29] austinkelleher commented on #601
I like this proposal too.

[2017-02-25 23:33] patrick-steele-idem commented on #601
Thanks for the feedback. I will work on implementing this.

[2017-02-25 23:44] #601 closed

[2017-02-25 23:46] patrick-steele-idem opened #602 "[v4] Add "use strict" to the top of all compiled templates"
We want all compiled Marko templates to be loaded in strict mode to catch problems early. As an example, Marko uses `Object.freeze()` on the state object to prevent new properties from being added that won't be watched. Without strict mode adding properties will silently fail.

[2017-02-25 23:52] mauricionr commented on #602
I have a question.

What about the templates that have `Class` like in marko widget?

Since The bodies of class declarations and class expressions are executed in strict mode.

Thanks!

reference:

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Classes

[2017-02-26 00:08] patrick-steele-idem commented on #602
Marko automatically transpiles the `class` syntax into an object declaration so that the compiled template will be ES5 compatible (assuming you aren't using other ES6 syntax). It produces something like the following:

_index.marko_

[code]

Compiled output:

[code]

[2017-02-26 00:11] #602 closed

[2017-02-26 00:12] mauricionr commented on #602
Got it @patrick-steele-idem thanks!

[2017-03-01 17:22] fabien-lg opened #603 "[Question] Indentation in included files"
Hello,

I am using Marko (great tool by the way!) to generate XML.
I have a «root» .marko file and a few included files. I would like to keep the indentation in the rendered file for various reasons.

However, when I indent the xml tags in the included file, I have this error:
` Line has extra indentation at the beginning`

The root .marko file looks like this:
[code]

And the included file (note

[2017-03-02 02:50] neunygph opened #604 "no-update attributes error when first rendered on the server"
## New Feature

### Description
I run into a client error when trying to update a component's state with onclick event while having
[code]

The component's state can still be updated successfully, no server error or on load error at all.
The error occured on client side when the state is updated.
Error message: `preservedAttrs.forEach is not a function`
The error occured at `.forEach` from the bel

[2017-03-03 11:53] edwarddamato opened #605 "Typo in error when parsing component class"
## Bug Report

### Context
When a component `class` has a parsing issue, the exception thrown has a typo. Additionally, `Error:` is appended to the message twice.

### Expected Behavior
The error should read: `Unable to parse JavaScript for **component** class.`

### Actual Behavior
The error output is: `Unable to parse JavaScript for componnet class. Error: Error:`

### Possible Fix
Fix typo and

[2017-03-03 12:00] edwarddamato commented on #605
Can tackle this issue if needed.

[2017-03-03 12:24] #605 closed

[2017-03-03 12:25] austinkelleher commented on #605
A new version should be published later today. Thanks!

[2017-03-03 19:49] AndyOGo commented on #581
@yomed Just pipe to kangax's [`html-minifier`](https://www.npmjs.com/package/html-minifier).
Though it's better to minify them once in a build step.

[2017-03-04 23:12] drewfish opened #606 "named single-file component doesn't work"
## Bug Report

### Context
I'm trying to use a single-file component as `components/{name}.marko` instead of `components/{name}/index.marko`.

### Expected Behavior
App starts and is able to serve that page (localhost:8000).

### Actual Behavior
The stacktrace below is thrown when the app starts.

### Your Environment
* Version used:
  * marko 4.0.0
  * lasso 2.11.5
  * lasso-marko 2.3.0

### Step

[2017-03-05 00:12] drewfish commented on #606
Hmm... it looks like I can workaround this by adding entries to my marko.json like this:
[code]

[2017-03-05 00:16] drewfish commented on #606
Looking at the implementation of compiler/taglib-loader/scanTagsDir.js this might be a feature request (instead of a bug) :)

[2017-03-05 04:52] darrenfu opened #607 "[Question] No component found error when set key attribute in sub component"
I am new to Marko, and I found a tricky error when I try to layout the html page in sections.

src/component/app-sections/index.marko
[code]

When I add "key" attribute like this `<form class="form-horizontal" key="anything" role="form">`, it will report such an error below. If I removed the key, everything compiles fine.
[code]

The rest pieces of code:
~/src/component/app/index.marko
[code]

~/s

[2017-03-05 14:33] bricss commented on #242
FYI -> https://github.com/hapijs/vision/tree/master/examples/marko

[2017-03-05 16:09] bricss commented on #242
FYI -> https://github.com/hapijs/vision/pull/111

[2017-03-05 19:18] mindeavor commented on #607
I believe the `key` attribute can only be applied to components. What are you trying to do?

[2017-03-06 07:03] mindeavor opened #608 "Component losing renderBody input on a particular redraw"
## Bug Report

When using `<include(input) />`, that content is being lost during a particular redraw (it sometimes comes back after another redraw).

### Context

- `components/my-component/index.marko`

[code]

- `components/c-1/index.marko`

[code]

Load a page that includes `<my-component />`. Here are different ways to reproduce:

- Visit the page, then click the `Force Update` button. All th

[2017-03-06 07:06] mindeavor commented on #608
Looks like the workaround is to explicitly type `<include(input.renderBody)/>`

[2017-03-06 07:37] jordanbtucker opened #609 "[Question] Why doesn't marko/express use the middleware pattern?"
I noticed that docs for express integration just have you `require('marko/express')`, which means it's using the side-effect pattern to modify the global `express.response` object.

The typical express middleware pattern would be:

[code]

Is there a specific reason marko/express doesn't use the middleware pattern?

Looking at [marko/express.js](https://github.com/marko-js/marko/blob/v4.0.0/expres

[2017-03-06 09:40] darrenfu commented on #607
@mindeavor In the [official document](http://markojs.com/docs/components/#codekeycode), it mentions:
The key attribute can be applied to **both HTML elements and custom tags for UI components**. If applied to an HTML element, a unique id attribute will be added to the HTML element. The assigned ID will be a concatenation of the parent component ID with the provided value of the key attribute.

I t

[2017-03-06 21:58] patrick-steele-idem commented on #608
Thanks for the bug report. I'll take a look

[2017-03-06 23:58] patrick-steele-idem commented on #608
Bug confirmed. `<include(input.renderBody)/>` is the correct workaround, but we will include a fix in the next patch release (lower priority since there is a straightforward workaround). Thanks, again, for the bug report.

[2017-03-06 23:59] #608 closed

[2017-03-07 00:29] patrick-steele-idem commented on #609
Hey Jordan, that's a very fair question. That was done for performance reasons since monkey-patching the prototype chain is more efficient then monkey-patching each `res` object that gets passed through for every request which is what would be required if we were to use middleware.

With that said, there might be hope in using the [Express `mount` event](https://expressjs.com/en/api.html#app.onmou

[2017-03-07 00:34] patrick-steele-idem commented on #607
The `key` attribute can only be used within the context of a component as stands now. We should probably make this more clear in the docs with updated text:

I'm going to give it some more thought and see if it makes sense to support the `key` attribute outside the context of a component view template.

[2017-03-07 15:48] patrick-steele-idem commented on #607
I did some more investigation and verified that Marko is handling this correctly. Keys are _scoped_ IDs that are scoped within the context of a component. If there is no component then `this.getEl(elId)` wouldn't make sense. There should be a component definition for the template with the key (either an inline `class { }` or a `component.js` in the same directory). If you have any questions please

[2017-03-07 15:48] #607 closed

[2017-03-07 16:20] #604 closed

[2017-03-07 16:25] patrick-steele-idem commented on #606
For consistency we should also automatically discover custom tags that are outside a directory

[2017-03-07 19:07] #606 closed

[2017-03-07 19:10] patrick-steele-idem commented on #603
Hey Fabien, sorry for the slow response. You can do the following to break out of concise syntax mode:

[code]

Does that work for you?

[2017-03-07 19:53] jasonmacdonald opened #611 "Bug: component IDs are not being assigned correctly when intermediate non-component is rendered"
I'm asking because I seem to constantly run into issues with child elements either getting the same ID as their parent, or a parent and then child, parent and than child, all being apart of the same array group which completes breaks render after an event.

I wish I had a simple example to show, but I always seem to run into this once I have a good number of components embedding components, and I

[2017-03-07 20:25] mindeavor opened #612 "Compile error when class method has empty return"
## Bug Report

`Generating code for TemplateRoot node failed. Error: TypeError: Cannot read property 'type' of null`

### Context

[code]

<details><summary>Additional Info</summary>

### Your Environment

* Version used: v4.0.0
* Environment name and version (e.g. Chrome 39, node.js 5.4): node 6.9.1

### Stack Trace

[code]

</details>

[2017-03-07 20:27] #612 closed

[2017-03-07 20:47] jasonmacdonald commented on #611
Well, it seems all I have to do is make a post and I figure out what is causing it. It seems you can't use a self closing tag. If I use <component /> I get all the ID problems. If I use <component ></component > The images get the child ID's I would expect.

Is this a bug??

[2017-03-07 20:48] patrick-steele-idem commented on #611
That would not be expected. Can you share a smaller example that I can use to reproduce?

[2017-03-07 21:16] jasonmacdonald commented on #611
Well, I thought that was it, but I think it was a false positive. Still getting the same issue of parent and child components getting put into the same ID group. Trying to boil it down to a simple example.

[2017-03-07 21:56] jasonmacdonald commented on #611
Ok, here is the simplest example I could put together.

index.html
[code]

my-list/index.html
[code]

card/index.html
[code]

image/index.html
[code]

This is a contrived example, but if you run this in a browser (compiled) and click the button in a card, you'll see it pulls the image out of the parent, and sticks it as a sibling to the parent because of the ID's. If I remove the class{} definitio

[2017-03-07 22:04] patrick-steele-idem commented on #611
Thanks for the code. I'll see if I can reproduce the issue as part of our test suite.

[2017-03-07 22:12] jasonmacdonald commented on #611
Thanks, Patrick.  The other interesting thing is it doesn't pull them out all at once, but rather one at a time with each click. Each time it re-renders index, it pulls the next ID that's still a child out, then leaves the rest.

[2017-03-07 22:27] patrick-steele-idem commented on #611
I'll keep investigating, but you can always assign your own IDs by providing a `key` attribute and that might alleviate some of the problems you are seeing. If there is a bug we definitely want to fix it though.

[2017-03-08 00:36] patrick-steele-idem commented on #611
At first glance, I am not able to reproduce any issues. The IDs appear to be generated correctly and uniquely:

[code]

Which version of `marko` are you using?

[2017-03-08 08:52] fabien-lg commented on #603
Thanks, it's working!

[2017-03-08 12:48] jasonmacdonald commented on #611
Version 4.

[2017-03-08 12:51] jasonmacdonald commented on #611
I'll try to put a full project up on Github. I just have to set-up a project with Webpack, etc. seperate from my current one.

But here is the output I get.

[code]

I don't know what could be causing the difference.

[2017-03-08 13:56] jasonmacdonald commented on #611
Well, this might take me longer. I just tried to start a brand new project with a fresh set of npm installs and now it seems marko-loader doesn't work with webpack 2 under windows. File paths get stripped of slashes and webpack blows up with ` var e = new Error("Cannot find module \"C:UsersUserDesktopprojectsarchitecturemarko_test\testsrcindex.marko\""); `, so first I need to figure out what is go

[2017-03-08 14:22] jasonmacdonald commented on #611
Arrg, this makes no sense. Running Marko 4.0.0 and Marko-loader 1.2.0 works fine. Running 4.0.1 and Loader 1.2.0 works fine, Run 4.0.1 and Loader 1.3.0 and require paths break in Webpack. Yet when I look at the change set for both, they are only version number upgrades????

[2017-03-08 14:43] jasonmacdonald commented on #611
Creating an issue over in Marko loader, 1.3.0 doesn't work on Windows. https://github.com/marko-js/marko-loader/issues/6

[2017-03-08 15:43] jasonmacdonald commented on #611
Here's the example running: https://rawgit.com/jasonmacdonald/marko-test-webpack/master/index.html
And here's the test project that replicates it: https://github.com/jasonmacdonald/marko-test-webpack

Interesting note: If I use the extension ".marko", everything works fine. If I use ".html" though, I get the messed up ID's. So, it seems it has something to do with Marko parsing an HTML file differ

[2017-03-08 17:31] andersea opened #614 "Why do you overload node.js require() to load templates?"
Don't understand. Why not just use a function?

[2017-03-08 18:01] Hesulan commented on #590
A lot of tags generate nested functions, so with `$ var ...;` it's impossible to know where the scope begins or ends until you look at the compiled output - it could stop at the nearest parent tag, or extend all the way to the top-level render function. That *usually* doesn't matter, but it would be nice to have a more explicit way to handle variable scope.

I agree with using `$ ...;` for inline

[2017-03-08 18:37] mindeavor commented on #614
Convenience. I don't believe it's required

[2017-03-08 22:16] patrick-steele-idem commented on #614
That's a good question. We're actually going to make some related changes that we have been meaning to make that I suspect you will like. We'll get back to you soon.

[2017-03-09 16:00] Hesulan commented on #614
@andersea It actually hooks into a built-in extension system that's been part of `require()` since almost the beginning, but it has also been deprecated for nearly as long ([require.extensions](https://nodejs.org/api/globals.html#globals_require_extensions)).

It was originally decided that the added convenience outweighed the risk (#78). However, with the related changes Patrick mentioned, this m

[2017-03-09 19:20] #573 closed

[2017-03-10 02:03] pcanella opened #615 "[V4] - destroyElRecursive is not a function when using result.replace after render"
## Bug Report

### Context

I was working on a personal project and wanted to replace an existing rendered component with the newly rendered one using the following code:

[code]

Then, in console I get the following issue

`Uncaught (in promise) TypeError: destroyElRecursive is not a function(…)beforeRemove @ bundle.js:3670replace @ bundle.js:3691(anonymous function) @ bundle.js:5274`

### Expect

[2017-03-10 03:28] patrick-steele-idem commented on #615
Thanks for the bug report. I will try to reproduce

[2017-03-10 03:56] patrick-steele-idem commented on #615
I am not able to reproduce the problem. Are you using Webpack? Might need to take a closer look to see what is wrong with your setup...

[2017-03-10 14:53] aliakakis opened #616 "[Question] Routing and using other libs."
Just wanted to inquire whether there is any client side routing which you suggest with markojs and how is markojs "feel" about 3rd party libs like jQuery.

[2017-03-10 17:57] leili2017 opened #617 "Webpack integration tutorial not working"
## New Feature

### Description

### Context

### Possible Implementation

### Open Questions

### Is this something you're interested in working on?

## Bug Report
I started out following the webpack-marko integration tutorial on http://markojs.com/docs/webpack/
and got the error message "error in cannot find module 'marko/compiler' " even with webpack version 1.14.0.

### Context

![image](https

[2017-03-10 18:21] jrop commented on #617
I think this is because `marko-loader` does not depend on the `marko` package.  If you install the marko package this should work:

[code]

[2017-03-10 19:16] mlrawlings commented on #617
@leili2017 can you confirm that installing `marko` as @jrop suggested works?

[2017-03-10 19:24] #603 closed

[2017-03-10 19:25] mlrawlings commented on #600
@mauricionr Are you rendering this client-side or server-side?

[2017-03-10 19:46] mauricionr commented on #600
@mlrawlings yes, but you can double check if really is server-side rendering here's the [demo](https://github.com/mauricionr/marko-demo)

[2017-03-10 20:08] jrop commented on #617
To be clear, this is consistent behavior for any webpack `*-loader`: For example, when using the babel-loader, babel-core needs to be installed separately.

[2017-03-10 21:14] pcanella commented on #615
@patrick-steele-idem ah! I am actually using browserify/markoify for this specific instance. This is my script I run before `app.js` runs

`"browserify -g markoify --extension='.marko' assets/js/main.js -o assets/js/bundle.js`

My "main.js" file just has some document level event binding (working on getting rid of that, but it doesn't really affect marko at all)

[2017-03-10 23:59] #611 closed

[2017-03-11 00:07] patrick-steele-idem commented on #611
Thanks for reporting the problem and creating the test project @jasonmacdonald ! Very helpful. The bug was that the component key being passed down to the nested component wasn't being cleared out so multiple components were receiving the same ID. Please let us know if you see any other issues.

The problem has been fixed. Please upgrade to `marko@4.1.0`

[2017-03-11 09:27] darrenfu commented on #607
@patrick-steele-idem Thanks for the clarification, that makes sense!

[2017-03-13 20:32] davidmoshal commented on #272
Official website lists Webstorm integration, but link points to textmate:

http://markojs.com/docs/editor-plugins/

[2017-03-13 20:47] mlrawlings commented on #272
@davidmoshal Thanks for pointing this out, I believe that _is_ intentional as we don't have a true webstorm integration, but webstorm [can import tmbundles](https://www.jetbrains.com/help/webstorm/2016.3/importing-textmate-bundles.html).  We should definitely make this clearer on that page.

[2017-03-13 21:52] jsumners commented on #272
Given the complexity of implementing this, anyone interested in such a plugin should also login to JetBrains's issue tracker and vote for the issue https://youtrack.jetbrains.com/issue/WEB-20821

[2017-03-13 22:39] davidmoshal commented on #272
Done

[2017-03-13 23:54] mlrawlings opened #619 "Deprecate use of constructor"
__tldr; Use `onCreate` instead of `constructor` because of limitations associated with native ES6 classes.__

With the release of 4.0, we added support for an `onCreate` lifecycle method which was able to be aliased as `constructor` when using the class syntax to define a component.

This was implemented as a [simple assignment](https://github.com/marko-js/marko/blob/e3547b97c00255d9692a2a5a652953

[2017-03-14 19:09] #616 closed

[2017-03-15 07:53] thisguychris opened #620 "scoped css"
### Open Questions
How do you implement css in isolation with markojs?  With the movement of component based authoring instead of document.  People found that its better to isolate css selectors to per component as opposed to its default cascading nature.

Is this something marko js aim to solve?

### Is this something you're interested in working on?
Yes

[2017-03-15 14:20] mauricionr opened #621 "[Question] how to increase default await timeout?"
## Question

How to increase the default await time out?

### Context

i'm getting a lot's of timeout from await tag, i'm using marko `3.4.2`

How the best way to handle this?(Handle the error, notify user and try again)
Is possible increase the await-tag timeout for all await-tags?

### Actual Behavior
Async fragment failed. Exception: Error: Async fragment timed out after `10000ms` at Timeout._o

[2017-03-15 14:41] bonesoul opened #622 "how to print_r | dump a variable?"
with nunjucks i can {{ var | dump }}, what is the equivalent for marko?

[2017-03-15 15:08] seangates commented on #622
Maybe try: `<pre>${console.log(var)}</pre>`

[2017-03-15 15:29] patrick-steele-idem commented on #622
I'm assuming you are using Marko v4 and if so the following works if you want to dump to the console output:

[code]

Or if you want to dump it to the browser as part of the HTML:

[code]

`JSON.stringify` will only work if the object you want to dump doesn't have circular references. If that is the case, then you can use a Node.js builtin for dumping to a String:

[code]

Hope that answers your q

[2017-03-15 15:40] patrick-steele-idem commented on #622
@seangates `console.log()` does not return a value so the `<pre>` tag will be empty, but the value will be written to the `console` at least :)

[2017-03-15 15:59] Hesulan commented on #621
Use `<await(...) timeout=10000>`, where `10000` is the time in milliseconds, or `0` to disable the timeout entirely. It's currently not possible to change the default timeout for all await tags.

http://v3.markojs.com/docs/marko/async-taglib/

[2017-03-15 16:19] mauricionr commented on #621
I would like to change the default timeout for all await-tag's

[2017-03-15 16:24] seangates commented on #622
@patrick-steele-idem Yes, deleted my comment. ;-)

[2017-03-15 16:43] Hesulan commented on #621
If anyone is interested in implementing this, here's where the default is currently hard-coded: https://github.com/marko-js/marko/blob/master/taglibs/async/await-tag.js#L149

[2017-03-15 17:06] Hesulan commented on #620
Do you mean having a separate stylesheet for each component? You can either use the new `style { ... }` tag, or put a `style.css` in the component's directory and make sure your bundler finds it.

If you mean actually *restricting* the CSS to specific sections of the final document, as far as I know that's not possible (except in Firefox with `<style scoped>`). Other frameworks just quietly add ex

[2017-03-15 17:18] Hesulan commented on #619
On a related note, should `class { ... }` be renamed to `component { ... }`? That seems like a more accurate description, fits better with the theme (`style { }` => `style.css`, `component { }` => `component.js`), and would be less likely to confuse new users who expect it to behave like an ES6 `class`.

[2017-03-15 17:32] ianvonholt commented on #619
I use a lot of classes outside of Marko specific code and use the onCreate method instead of the constructor method to avoid confusion. I advocate removing the `constructor` method and standardize the `onCreate` method across both `module.exports` and the `Marko` class component definition.

[2017-03-16 07:55] thisguychris commented on #620
More of the latter,

It's not possible doing it in css alone.  However, it is possible with the help of a build step. Basically obfuscating the classname with hashes eg. `.container` _becomes_ `.cn2o3j`.

Prior art are css-modules, styled-components, styled-jsx.

[2017-03-16 16:14] patrick-steele-idem opened #623 "Bug: Uncaught TypeError: toEl.$__hasAttribute is not a function"
Reported by user:

[code]

[2017-03-16 16:27] #623 closed

[2017-03-16 17:39] jasonmacdonald commented on #619
Is this also why I cannot use the "extend" keyword on a component class? I would have assumed with a transpiler that I could inherit from a base classes, but Marko throws an error about "a component cannot be a function." This kind of sucks as there are methods I find myself having to add to component over and over because I can't just inherit a base component. :(

[2017-03-16 18:28] jasonmacdonald opened #624 "Accept Function in "on-<event>" attributes"
## New Feature

### Description
Currently, the only thing you can pass to the onClick attribute is a string which has to be a method on the parent component class. Now that we can access  the component directly in the template, I'd like to propose being able to pass a function to call instead of a string, or at least to pass the context for which the method should be invoked.

### Context
- This w

[2017-03-16 18:44] patrick-steele-idem commented on #619
Fixed. New version of marko published: `marko@4.1.2`

CHANGELOG: https://github.com/marko-js/marko/blob/master/CHANGELOG.md#412

[2017-03-16 18:44] #619 closed

[2017-03-16 18:50] patrick-steele-idem commented on #619
@jasonmacdonald Yeah, we probably need to make this more clear, but `extends` is not something we can support. Internally, marko creates its own class for each component that extends our base [Component](https://github.com/marko-js/marko/blob/master/components/Component.js) class and components can't extend multiple classes. `mixins` are the way to go.

[2017-03-16 19:01] patrick-steele-idem commented on #624
I could be misinterpreting your comments, but I just want to make it clear that the following works in Marko v4 because Marko v4 supports binding additional arguments to an event handler (see: http://markojs.com/docs/components/#codeon-eventmethodname-argscode):

[code]

The reason for not allow functions to be used as the first argument to an event handler is that functions cannot be serialized d

[2017-03-16 19:16] jasonmacdonald commented on #624
It clarifies why you only support strings, yes. BUt your example is exactly what I'm trying to avoid. THe selected state is not a a value of the parent component, it's a value of List. I'm trying to set the value in list without having to write the boiler plate on the parent.

[code]

In order to have a click on card set "List"'s value to selected, I have to write...
[code]

This is ok for a singl

[2017-03-16 20:52] jasonmacdonald commented on #624
Just a thought, but what if you could pass a string like "compId:method" and instead of just calling that on component, it instead did something like...

[code]

[2017-03-16 21:11] jasonmacdonald commented on #624
I can see this comment in the output of AttachBubbleEvents which "seems" to indicate you can provide a component ID for the method

`// on<event_type>("<target_method>|<component_id>")`

But I can't seem to figure out how to invoke it. Is there a way to say what component the target_method should be called on??? This would solve my problem if I could target a specific component_id

[2017-03-16 21:48] mindeavor commented on #624
Here's a solution that I've used before:

[code]

[2017-03-16 22:03] jasonmacdonald commented on #624
Thanks @mindeavor , I assume this would still require passing in `selected` to the list component to set it's state? It's better, but I still couldn't call methods on List from the event, which is the other part I'd like to do.

All we need is a way to tell onClick which component we want the method called on - assuming `key=id` is set ont he target we want...
[code]

Anything like this that let u

[2017-03-17 07:58] jordanbtucker commented on #620
This is one of the reasons I'm still using Vue.js. It has support for scoped CSS via classname injection.

The other reason is that .vue files are just HTML files, so you don't need to use prefixes like `$` or `-`, and they don't need their own editor extensions for syntax highlighting.

[2017-03-17 16:07] mindeavor commented on #620
Scoped CSS is indeed useful, but having "just HTML" means you have to write JavaScript inside non-sytax-highlighted strings (and "just HTML" is not even technically true, since vue.js uses [dots in attribute names](https://vuejs.org/v2/guide/syntax.html#Modifiers)). The HTML-JS syntax is definitely a step forward in templating languages :)

[2017-03-17 17:38] jordanbtucker commented on #620
I don't want to derail this topic, but .vue files support `<script>` and `<style>` elements,  so there's no need to put your JavaScript in a string.

And according to the [HTML spec](https://html.spec.whatwg.org/multipage/syntax.html#attributes-2), there's nothing wrong with dots in attribute names.

See [Single File Components](https://vuejs.org/v2/guide/single-file-components.html) for more info

[2017-03-17 17:49] patrick-steele-idem commented on #620
Hey folks, support for scoped styles is something we thought about when working Marko v4 and it is something we want to offer in the near future. The problem requires some thought because the solution needs to be compatible with the module bundler (webpack, lasso, etc.) and we would need to figure out how marko scoped styles would play nice with simple CSS and the various CSS preprocessor language

[2017-03-17 18:06] patrick-steele-idem commented on #620
@thisguychris Since you mentioned that you are interested in working on this, it would be great to hear some proposals. We need to find a good solution for Marko while considering existing solutions:

- [BEM](http://getbem.com/introduction/)
- [Scoped CSS in Vue](https://vue-loader.vuejs.org/en/features/scoped-css.html)
- [React CSS modules](https://github.com/gajus/react-css-modules)
- etc.

Let'

[2017-03-17 19:29] mauricionr opened #626 "[Question] Marko v4 x Marko v3 - Performance"
### Context

Hey @patrick-steele-idem , i'm using marko v3 in production and i'm trying to convince my team to upgrade to marko v4

I'm trying to find the performance diff between v3 and v4

Do you guys know where i can find? or do you guys have something to help me speed up this upgrade

Thanks!

[2017-03-17 19:30] patrick-steele-idem commented on #626
Are you interested in server-side performance or client-side performance or both?

[2017-03-17 19:38] mauricionr commented on #626
Both :rocket:

[2017-03-17 20:23] patrick-steele-idem commented on #626
For server-side performance, Marko v4 is faster than Marko v3, but not by a huge margin. On the client-side, however, Marko v4 is much, much faster due to the introduction of VDOM rendering. Unfortunately, I don't have a 1-to-1 benchmark for Marko v3 vs Marko v4. What I can say is that Marko v3 is slower than React: https://github.com/patrick-steele-idem/marko-vs-react/tree/8d686de0782995d72bc26a0

[2017-03-17 20:23] #626 closed

[2017-03-17 20:38] mauricionr commented on #626
Really Thanks in advance @patrick-steele-idem :beers:

[2017-03-17 22:47] mindeavor commented on #620
@jordanbtucker I concede my incorrect point about the attribute names :) For code, I'm talking about code in HTML attribute value strings, not script tags.

[2017-03-19 02:21] thisguychris commented on #620
@patrick-steele-idem I think I'm leaning towards Vue's implementation as a recommendation. which is just hooking up to post-css.  With post-css you can basically create any transform you want, sass, less, css-modules.

[2017-03-19 18:25] andersea commented on #614
Thanks for that answers. Closing.

[2017-03-19 18:25] #614 closed

[2017-03-20 12:13] jasonmacdonald commented on #624
@patrick-steele-idem Any advice? Is it possible to set a target component for the method execution? The code seems to elude to it, but I can't figure out where it's set. I'm guessing in the AST somewhere?

[2017-03-21 12:53] jasonmacdonald opened #627 "[Bug] Export Tag not in release but mentioned in documentation"
## Bug Report

### Context
Documentation for 4.1.2 mentions [export tag](http://markojs.com/docs/core-tags/#codeampltexportgtcode )  but the tag does not appear to be in the current version. Looking in taglibs/core I do not see a taglib for export either.

### Expected Behavior
Using `export var route = '/about';` should export the value.

### Actual Behavior
Compiler throws an error `Unrecognized

[2017-03-21 13:03] jasonmacdonald commented on #627
I also tried looking for any tests that reference "export", but I cannot find anything equivalent to the parseImport tests.

[2017-03-23 00:37] neuronetio commented on #379
`require('marko/compiler').taglibFinder.includeDir(dirPath);`
would be nice feature
I have many directories inside my project folder that have `package.json` inside because i need them to have individual node_modules inside and for other reasons as well

now I cannot bubble to main project folder and make some components available across all directories

there is `taglibLookup.registerTaglib` but

[2017-03-24 18:09] eltimn opened #629 "[vdom] Rendering unescaped HTML produces non-functioning HTML input controls"
## Bug Report

I'm trying to use `$!{}` to output some HTML that is generated on the server, but it's not rendering.

### Context

I am passing an `input` tag like this: `<input type="text" value="" />`. Looking at the element in chrome devtools it looks like:  `<INPUT type="text" value=""></INPUT>`. If I edit the element in devtools to be like the input it works fine.

### Expected Behavior

It s

[2017-03-24 21:08] eltimn commented on #629
A regular `div` tag works fine, although the tag is upper-cased. An `img` tag has the same problems as `input`, so it seems to be a problem with tags that don't require a closing tag.

[2017-03-25 02:14] TJKoury commented on #624
You actually can serialize functions, I'm working on a dashboard using VueJS that takes advantage of that.

[2017-03-26 16:01] #534 closed

[2017-03-26 16:57] patrick-steele-idem opened #630 "Exporting a class from component-browser.js may have issues"
From Gitter chat:

Eldar @Eldar-X Mar 24 10:47
@patrick-steele-idem in component-browser.js following not working

[code]

But this is okay

[code]

Error message:

[code]

[2017-03-26 16:59] patrick-steele-idem opened #631 "Add docs for including an imported component"
[code]

Also:

[code]

[2017-03-26 17:01] patrick-steele-idem opened #632 "Proposal: Allow explicitly imported UI components to be used as custom tags?"
[code]

In addition, we could also overload the `import` syntax to allow importing a UI component based on the tag name:

[code]

[2017-03-27 03:22] mauricionr commented on #632
:+1:

[2017-03-27 04:23] sebastianmacias opened #633 "Client side URL Routing"
### Open Questions

I understand marko can be used with a number of server side frameworks like express that handle URL dispatching but does it include any client side router or are any plans to support this?

Thanks

[2017-03-27 06:36] frnfnts opened #634 "writeInitComponentsCode is not a function"
## Bug Report
### Context

I use Marko with webpack, and found an error `Uncaught TypeError: writeInitComponentsCode is not a function` at browser's console.

### Cause
**components/taglib/init-components-tag.js** uses the function `writeInitComponentsCode` and tries to include it from **index-browser.js** according to **package.json**.
But the function is NOT in **index-browser.js**, but in **ind